version: "3.7"

services:
  redis:
    image: redis:5.0.8-buster
    hostname: redis
    container_name: covid-api-redis
    networks:
      - redis-net
    volumes:
      - redis-data:/data

  app:
    build: .
    networks:
      - redis-net
    depends_on:
      - redis

networks:
  redis-net:

volumes:
  redis-data:
