openapi: 3.0.0
info:
  title: NovelCOVID API (github.com/NovelCOVID/API)
  description: >-
    API for Current cases and more stuff about COVID-19 or the Novel CoronaVirus
    Strain.


    ** Note: this collection is highly outdated. If you want to get a more
    updated list of endpoints, please visit the official documentation at
    [https://disease.sh/docs](https://disease.sh/docs) **


    - [Website](https://github.com/disease-sh/API)
  version: 1.0.0
servers:
  - url: https://corona.lmao.ninja
tags:
  - name: Countries / Continents
    description: "Data from Worldometers\r\n\r\n\r\n"
  - name: JHUCSSE
    description: ' Data from Johns Hopkins University'
  - name: NYT
    description: Data from New York Times
paths:
  /v2/continents:
    get:
      tags:
        - Countries / Continents
      summary: All Continents
      description: >-
        Returns a JSON array with an element for each continent that has stats
        available.
      parameters:
        - name: yesterday
          in: query
          schema:
            type: boolean
          description: |-
            For this parameter you can show yesterday data

            Available values : true, false, 1, 0.
          example: 'true'
        - name: sort
          in: query
          schema:
            type: string
          description: >-
            For this parameter you can provide a key from the country model
            (e.g. cases, todayCases, deaths, recovered, active, etc) to sort the
            countries from greatest to least, depending on the key


            Available values : cases, todayCases, deaths, todayDeaths,
            recovered, active, critical, casesPerOneMillion,
            deathsPerOneMillion.
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Fri, 17 Apr 2020 16:27:55 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"3d2-XJ60ntmjK1GzFiX6DkG1ZbRj8ro"
            NG-Cache-Status:
              schema:
                type: string
                example: MISS
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Expect-CT:
              schema:
                type: string
                example: >-
                  max-age=604800,
                  report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 58578426faafa6d5-DUB
            Content-Encoding:
              schema:
                type: string
                example: br
            cf-request-id:
              schema:
                type: string
                example: 022a90ec570000a6d581387200000001
          content:
            application/json:
              schema:
                type: object
              example:
                - updated: 1587140875599
                  cases: 345970
                  todayCases: 12773
                  deaths: 12426
                  todayDeaths: 358
                  recovered: 165739
                  active: 167805
                  critical: 6477
                  continent: Asia
                - updated: 1587140875599
                  cases: 724560
                  todayCases: 32002
                  deaths: 36709
                  todayDeaths: 2418
                  recovered: 70319
                  active: 617532
                  critical: 14460
                  continent: North America
                - updated: 1587140875600
                  cases: 1015507
                  todayCases: 44750
                  deaths: 92224
                  todayDeaths: 3905
                  recovered: 275293
                  active: 647990
                  critical: 27806
                  continent: Europe
                - updated: 1587140875600
                  cases: 67591
                  todayCases: 4289
                  deaths: 3057
                  todayDeaths: 260
                  recovered: 25971
                  active: 38563
                  critical: 7601
                  continent: South America
                - updated: 1587140875601
                  cases: 7966
                  todayCases: 42
                  deaths: 72
                  todayDeaths: 0
                  recovered: 4518
                  active: 3376
                  critical: 71
                  continent: Oceania
                - updated: 1587140875602
                  cases: 18993
                  todayCases: 1166
                  deaths: 968
                  todayDeaths: 55
                  recovered: 4585
                  active: 13440
                  critical: 180
                  continent: Africa
  /v2/continents/{query}:
    get:
      tags:
        - Countries / Continents
      summary: Specific Continent
      description: >-
        Get the same data from the /v2/continents endpoint, but filter down to a
        specific continent.
      parameters:
        - name: yesterday
          in: query
          schema:
            type: string
          description: |-
            For this parameter you can show yesterdays data

            Available values : true, false, 1, 0.
        - name: strict
          in: query
          schema:
            type: string
          description: >-
            Defaults to true. Setting to false gives you the ability to fuzzy
            search countries. Example Oman vs. rOMANia


            Available values : true, false.
        - name: query
          in: path
          schema:
            type: string
          required: true
          description: The continent name.
          example: Europe
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Fri, 17 Apr 2020 16:28:54 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"a7-02LoDv1KPD4m5GZ+bLZGnAWFxHI"
            NG-Cache-Status:
              schema:
                type: string
                example: MISS
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Expect-CT:
              schema:
                type: string
                example: >-
                  max-age=604800,
                  report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 585785998b81a6d5-DUB
            Content-Encoding:
              schema:
                type: string
                example: br
            cf-request-id:
              schema:
                type: string
                example: 022a91d3f50000a6d5811ee200000001
          content:
            application/json:
              schema:
                type: object
              example:
                updated: 1587140875600
                cases: 1015507
                todayCases: 44750
                deaths: 92224
                todayDeaths: 3905
                recovered: 275293
                active: 647990
                critical: 27806
                continent: Europe
  /v2/countries:
    get:
      tags:
        - Countries / Continents
      summary: All Countries
      description: >-
        Returns a JSON array with an element for each country that has stats
        available. This includes iso codes, lat/long, a link to the country
        flag, cases, new cases, deaths, new deaths, recovered, active cases,
        critical cases, and cases/deaths per one million people. Data is updated
        every 10 minutes.
      parameters:
        - name: yesterday
          in: query
          schema:
            type: string
          description: |-
            For this parameter you can show yesterday data

            Available values : true, false, 1, 0.
        - name: sort
          in: query
          schema:
            type: string
          description: >-
            For this parameter you can provide a key from the country model
            (e.g. cases, todayCases, deaths, recovered, active, etc) to sort the
            countries from greatest to least, depending on the key


            Available values : cases, todayCases, deaths, todayDeaths,
            recovered, active, critical, casesPerOneMillion,
            deathsPerOneMillion.
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Fri, 17 Apr 2020 16:29:56 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            X-Powered-By:
              schema:
                type: string
                example: Express
            Access-Control-Allow-Origin:
              schema:
                type: string
                example: '*'
            ETag:
              schema:
                type: string
                example: W/"142ee-NfRwJbRyTFkWv3M3LJK9XVnm9LA"
            NG-Cache-Status:
              schema:
                type: string
                example: MISS
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Expect-CT:
              schema:
                type: string
                example: >-
                  max-age=604800,
                  report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 58578718e9c9a6d5-DUB
            Content-Encoding:
              schema:
                type: string
                example: br
            cf-request-id:
              schema:
                type: string
                example: 022a92c3900000a6d581219200000001
          content:
            application/json:
              schema:
                type: object
              example:
                - updated: 1587140875524
                  country: Afghanistan
                  countryInfo:
                    _id: 4
                    iso2: AF
                    iso3: AFG
                    lat: 33
                    long: 65
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/af.png
                  cases: 840
                  todayCases: 56
                  deaths: 30
                  todayDeaths: 5
                  recovered: 54
                  active: 756
                  critical: 0
                  casesPerOneMillion: 22
                  deathsPerOneMillion: 0
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875533
                  country: Albania
                  countryInfo:
                    _id: 8
                    iso2: AL
                    iso3: ALB
                    lat: 41
                    long: 20
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/al.png
                  cases: 518
                  todayCases: 24
                  deaths: 26
                  todayDeaths: 1
                  recovered: 277
                  active: 215
                  critical: 5
                  casesPerOneMillion: 180
                  deathsPerOneMillion: 9
                  tests: 4827
                  testsPerOneMillion: 1677
                - updated: 1587140875510
                  country: Algeria
                  countryInfo:
                    _id: 12
                    iso2: DZ
                    iso3: DZA
                    lat: 28
                    long: 3
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/dz.png
                  cases: 2268
                  todayCases: 108
                  deaths: 348
                  todayDeaths: 12
                  recovered: 783
                  active: 1137
                  critical: 60
                  casesPerOneMillion: 52
                  deathsPerOneMillion: 8
                  tests: 3359
                  testsPerOneMillion: 77
                - updated: 1587140875529
                  country: Andorra
                  countryInfo:
                    _id: 20
                    iso2: AD
                    iso3: AND
                    lat: 42.5
                    long: 1.6
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/ad.png
                  cases: 673
                  todayCases: 0
                  deaths: 33
                  todayDeaths: 0
                  recovered: 169
                  active: 471
                  critical: 17
                  casesPerOneMillion: 8710
                  deathsPerOneMillion: 427
                  tests: 1673
                  testsPerOneMillion: 21653
                - updated: 1587140875574
                  country: Angola
                  countryInfo:
                    _id: 24
                    iso2: AO
                    iso3: AGO
                    lat: -12.5
                    long: 18.5
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/ao.png
                  cases: 19
                  todayCases: 0
                  deaths: 2
                  todayDeaths: 0
                  recovered: 5
                  active: 12
                  critical: 0
                  casesPerOneMillion: 0
                  deathsPerOneMillion: 0
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875596
                  country: Anguilla
                  countryInfo:
                    _id: 660
                    iso2: AI
                    iso3: AIA
                    lat: 18.25
                    long: -63.1667
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/ai.png
                  cases: 3
                  todayCases: 0
                  deaths: 0
                  todayDeaths: 0
                  recovered: 1
                  active: 2
                  critical: 0
                  casesPerOneMillion: 200
                  deathsPerOneMillion: 0
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875572
                  country: Antigua and Barbuda
                  countryInfo:
                    _id: 28
                    iso2: AG
                    iso3: ATG
                    lat: 17.05
                    long: -61.8
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/ag.png
                  cases: 23
                  todayCases: 0
                  deaths: 3
                  todayDeaths: 1
                  recovered: 3
                  active: 17
                  critical: 1
                  casesPerOneMillion: 235
                  deathsPerOneMillion: 31
                  tests: 73
                  testsPerOneMillion: 745
                - updated: 1587140875508
                  country: Argentina
                  countryInfo:
                    _id: 32
                    iso2: AR
                    iso3: ARG
                    lat: -34
                    long: -64
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/ar.png
                  cases: 2669
                  todayCases: 98
                  deaths: 122
                  todayDeaths: 10
                  recovered: 631
                  active: 1916
                  critical: 121
                  casesPerOneMillion: 59
                  deathsPerOneMillion: 3
                  tests: 26457
                  testsPerOneMillion: 585
                - updated: 1587140875519
                  country: Armenia
                  countryInfo:
                    _id: 51
                    iso2: AM
                    iso3: ARM
                    lat: 40
                    long: 45
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/am.png
                  cases: 1159
                  todayCases: 48
                  deaths: 18
                  todayDeaths: 1
                  recovered: 358
                  active: 783
                  critical: 30
                  casesPerOneMillion: 391
                  deathsPerOneMillion: 6
                  tests: 9632
                  testsPerOneMillion: 3250
                - updated: 1587140875555
                  country: Aruba
                  countryInfo:
                    _id: 533
                    iso2: AW
                    iso3: ABW
                    lat: 12.5
                    long: -69.9667
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/aw.png
                  cases: 95
                  todayCases: 2
                  deaths: 2
                  todayDeaths: 1
                  recovered: 39
                  active: 54
                  critical: 1
                  casesPerOneMillion: 890
                  deathsPerOneMillion: 19
                  tests: 1237
                  testsPerOneMillion: 11586
                - updated: 1587140875493
                  country: Australia
                  countryInfo:
                    _id: 36
                    iso2: AU
                    iso3: AUS
                    lat: -27
                    long: 133
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/au.png
                  cases: 6468
                  todayCases: 21
                  deaths: 63
                  todayDeaths: 0
                  recovered: 3747
                  active: 2658
                  critical: 66
                  casesPerOneMillion: 254
                  deathsPerOneMillion: 2
                  tests: 380003
                  testsPerOneMillion: 14902
                - updated: 1587140875483
                  country: Austria
                  countryInfo:
                    _id: 40
                    iso2: AT
                    iso3: AUT
                    lat: 47.3333
                    long: 13.3333
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/at.png
                  cases: 14476
                  todayCases: 126
                  deaths: 410
                  todayDeaths: 17
                  recovered: 8986
                  active: 5080
                  critical: 238
                  casesPerOneMillion: 1607
                  deathsPerOneMillion: 46
                  tests: 162816
                  testsPerOneMillion: 18078
                - updated: 1587140875517
                  country: Azerbaijan
                  countryInfo:
                    _id: 31
                    iso2: AZ
                    iso3: AZE
                    lat: 40.5
                    long: 47.5
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/az.png
                  cases: 1283
                  todayCases: 30
                  deaths: 15
                  todayDeaths: 2
                  recovered: 460
                  active: 808
                  critical: 28
                  casesPerOneMillion: 127
                  deathsPerOneMillion: 1
                  tests: 75397
                  testsPerOneMillion: 7436
                - updated: 1587140875564
                  country: Bahamas
                  countryInfo:
                    _id: 44
                    iso2: BS
                    iso3: BHS
                    lat: 24.25
                    long: -76
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/bs.png
                  cases: 53
                  todayCases: 0
                  deaths: 8
                  todayDeaths: 0
                  recovered: 6
                  active: 39
                  critical: 1
                  casesPerOneMillion: 135
                  deathsPerOneMillion: 20
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875512
                  country: Bahrain
                  countryInfo:
                    _id: 48
                    iso2: BH
                    iso3: BHR
                    lat: 26
                    long: 50.55
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/bh.png
                  cases: 1700
                  todayCases: 29
                  deaths: 7
                  todayDeaths: 0
                  recovered: 703
                  active: 990
                  critical: 3
                  casesPerOneMillion: 999
                  deathsPerOneMillion: 4
                  tests: 76630
                  testsPerOneMillion: 45035
                - updated: 1587140875513
                  country: Bangladesh
                  countryInfo:
                    _id: 50
                    iso2: BD
                    iso3: BGD
                    lat: 24
                    long: 90
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/bd.png
                  cases: 1572
                  todayCases: 341
                  deaths: 60
                  todayDeaths: 10
                  recovered: 49
                  active: 1463
                  critical: 1
                  casesPerOneMillion: 10
                  deathsPerOneMillion: 0
                  tests: 17003
                  testsPerOneMillion: 103
                - updated: 1587140875560
                  country: Barbados
                  countryInfo:
                    _id: 52
                    iso2: BB
                    iso3: BRB
                    lat: 13.1667
                    long: -59.5333
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/bb.png
                  cases: 75
                  todayCases: 2
                  deaths: 5
                  todayDeaths: 0
                  recovered: 15
                  active: 55
                  critical: 4
                  casesPerOneMillion: 261
                  deathsPerOneMillion: 17
                  tests: 900
                  testsPerOneMillion: 3132
                - updated: 1587140875502
                  country: Belarus
                  countryInfo:
                    _id: 112
                    iso2: BY
                    iso3: BLR
                    lat: 53
                    long: 28
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/by.png
                  cases: 4204
                  todayCases: 476
                  deaths: 40
                  todayDeaths: 4
                  recovered: 203
                  active: 3961
                  critical: 65
                  casesPerOneMillion: 445
                  deathsPerOneMillion: 4
                  tests: 81246
                  testsPerOneMillion: 8598
                - updated: 1587140875478
                  country: Belgium
                  countryInfo:
                    _id: 56
                    iso2: BE
                    iso3: BEL
                    lat: 50.8333
                    long: 4
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/be.png
                  cases: 34809
                  todayCases: 1236
                  deaths: 4857
                  todayDeaths: 417
                  recovered: 7562
                  active: 22390
                  critical: 1182
                  casesPerOneMillion: 3003
                  deathsPerOneMillion: 419
                  tests: 134303
                  testsPerOneMillion: 11588
                - updated: 1587140875576
                  country: Belize
                  countryInfo:
                    _id: 84
                    iso2: BZ
                    iso3: BLZ
                    lat: 17.25
                    long: -88.75
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/bz.png
                  cases: 18
                  todayCases: 0
                  deaths: 2
                  todayDeaths: 0
                  recovered: 0
                  active: 16
                  critical: 1
                  casesPerOneMillion: 45
                  deathsPerOneMillion: 5
                  tests: 567
                  testsPerOneMillion: 1426
                - updated: 1587140875568
                  country: Benin
                  countryInfo:
                    _id: 204
                    iso2: BJ
                    iso3: BEN
                    lat: 9.5
                    long: 2.25
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/bj.png
                  cases: 35
                  todayCases: 0
                  deaths: 1
                  todayDeaths: 0
                  recovered: 18
                  active: 16
                  critical: 0
                  casesPerOneMillion: 3
                  deathsPerOneMillion: 0
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875558
                  country: Bermuda
                  countryInfo:
                    _id: 60
                    iso2: BM
                    iso3: BMU
                    lat: 32.3333
                    long: -64.75
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/bm.png
                  cases: 81
                  todayCases: 0
                  deaths: 5
                  todayDeaths: 0
                  recovered: 33
                  active: 43
                  critical: 3
                  casesPerOneMillion: 1301
                  deathsPerOneMillion: 80
                  tests: 527
                  testsPerOneMillion: 8462
                - updated: 1587140875594
                  country: Bhutan
                  countryInfo:
                    _id: 64
                    iso2: BT
                    iso3: BTN
                    lat: 27.5
                    long: 90.5
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/bt.png
                  cases: 5
                  todayCases: 0
                  deaths: 0
                  todayDeaths: 0
                  recovered: 2
                  active: 3
                  critical: 0
                  casesPerOneMillion: 6
                  deathsPerOneMillion: 0
                  tests: 1166
                  testsPerOneMillion: 1511
                - updated: 1587140875536
                  country: Bolivia
                  countryInfo:
                    _id: 68
                    iso2: BO
                    iso3: BOL
                    lat: -17
                    long: -65
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/bo.png
                  cases: 441
                  todayCases: 44
                  deaths: 29
                  todayDeaths: 1
                  recovered: 14
                  active: 398
                  critical: 3
                  casesPerOneMillion: 38
                  deathsPerOneMillion: 2
                  tests: 2185
                  testsPerOneMillion: 187
                - updated: 1587140875518
                  country: Bosnia
                  countryInfo:
                    _id: 70
                    iso2: BA
                    iso3: BIH
                    lat: 44
                    long: 18
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/ba.png
                  cases: 1167
                  todayCases: 57
                  deaths: 43
                  todayDeaths: 2
                  recovered: 277
                  active: 847
                  critical: 4
                  casesPerOneMillion: 356
                  deathsPerOneMillion: 13
                  tests: 14743
                  testsPerOneMillion: 4494
                - updated: 1587140875581
                  country: Botswana
                  countryInfo:
                    _id: 72
                    iso2: BW
                    iso3: BWA
                    lat: -22
                    long: 24
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/bw.png
                  cases: 15
                  todayCases: 2
                  deaths: 1
                  todayDeaths: 0
                  recovered: 0
                  active: 14
                  critical: 0
                  casesPerOneMillion: 6
                  deathsPerOneMillion: 0
                  tests: 3441
                  testsPerOneMillion: 1463
                - updated: 1587140875479
                  country: Brazil
                  countryInfo:
                    _id: 76
                    iso2: BR
                    iso3: BRA
                    lat: -10
                    long: -55
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/br.png
                  cases: 30683
                  todayCases: 2073
                  deaths: 1947
                  todayDeaths: 190
                  recovered: 14026
                  active: 14710
                  critical: 6634
                  casesPerOneMillion: 144
                  deathsPerOneMillion: 9
                  tests: 62985
                  testsPerOneMillion: 296
                - updated: 1587140875596
                  country: British Virgin Islands
                  countryInfo:
                    _id: 92
                    iso2: VG
                    iso3: VGB
                    lat: 18.5
                    long: -64.5
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/vg.png
                  cases: 3
                  todayCases: 0
                  deaths: 0
                  todayDeaths: 0
                  recovered: 2
                  active: 1
                  critical: 0
                  casesPerOneMillion: 99
                  deathsPerOneMillion: 0
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875551
                  country: Brunei
                  countryInfo:
                    _id: 96
                    iso2: BN
                    iso3: BRN
                    lat: 4.5
                    long: 114.6667
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/bn.png
                  cases: 136
                  todayCases: 0
                  deaths: 1
                  todayDeaths: 0
                  recovered: 108
                  active: 27
                  critical: 2
                  casesPerOneMillion: 311
                  deathsPerOneMillion: 2
                  tests: 10826
                  testsPerOneMillion: 24746
                - updated: 1587140875526
                  country: Bulgaria
                  countryInfo:
                    _id: 100
                    iso2: BG
                    iso3: BGR
                    lat: 43
                    long: 25
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/bg.png
                  cases: 800
                  todayCases: 53
                  deaths: 38
                  todayDeaths: 2
                  recovered: 122
                  active: 640
                  critical: 37
                  casesPerOneMillion: 115
                  deathsPerOneMillion: 5
                  tests: 18502
                  testsPerOneMillion: 2663
                - updated: 1587140875532
                  country: Burkina Faso
                  countryInfo:
                    _id: 854
                    iso2: BF
                    iso3: BFA
                    lat: 13
                    long: -2
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/bf.png
                  cases: 546
                  todayCases: 4
                  deaths: 32
                  todayDeaths: 0
                  recovered: 257
                  active: 257
                  critical: 0
                  casesPerOneMillion: 26
                  deathsPerOneMillion: 2
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875594
                  country: Burundi
                  countryInfo:
                    _id: 108
                    iso2: BI
                    iso3: BDI
                    lat: -3.5
                    long: 30
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/bi.png
                  cases: 5
                  todayCases: 0
                  deaths: 1
                  todayDeaths: 0
                  recovered: 0
                  active: 4
                  critical: 0
                  casesPerOneMillion: 0
                  deathsPerOneMillion: 0
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875562
                  country: Cabo Verde
                  countryInfo:
                    _id: 132
                    iso2: CV
                    iso3: CPV
                    lat: 16
                    long: -24
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/cv.png
                  cases: 56
                  todayCases: 0
                  deaths: 1
                  todayDeaths: 0
                  recovered: 1
                  active: 54
                  critical: 0
                  casesPerOneMillion: 101
                  deathsPerOneMillion: 2
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875552
                  country: Cambodia
                  countryInfo:
                    _id: 116
                    iso2: KH
                    iso3: KHM
                    lat: 13
                    long: 105
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/kh.png
                  cases: 122
                  todayCases: 0
                  deaths: 0
                  todayDeaths: 0
                  recovered: 98
                  active: 24
                  critical: 1
                  casesPerOneMillion: 7
                  deathsPerOneMillion: 0
                  tests: 5768
                  testsPerOneMillion: 345
                - updated: 1587140875521
                  country: Cameroon
                  countryInfo:
                    _id: 120
                    iso2: CM
                    iso3: CMR
                    lat: 6
                    long: 12
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/cm.png
                  cases: 996
                  todayCases: 148
                  deaths: 22
                  todayDeaths: 5
                  recovered: 164
                  active: 810
                  critical: 0
                  casesPerOneMillion: 38
                  deathsPerOneMillion: 0
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875480
                  country: Canada
                  countryInfo:
                    _id: 124
                    iso2: CA
                    iso3: CAN
                    lat: 60
                    long: -95
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/ca.png
                  cases: 30106
                  todayCases: 1727
                  deaths: 1195
                  todayDeaths: 185
                  recovered: 9729
                  active: 19182
                  critical: 557
                  casesPerOneMillion: 798
                  deathsPerOneMillion: 32
                  tests: 487625
                  testsPerOneMillion: 12920
                - updated: 1587140875597
                  country: Caribbean Netherlands
                  countryInfo:
                    _id: 535
                    iso2: BQ
                    iso3: BES
                    lat: 12.2
                    long: -68.26
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/bq.png
                  cases: 3
                  todayCases: 0
                  deaths: 0
                  todayDeaths: 0
                  recovered: 0
                  active: 3
                  critical: 0
                  casesPerOneMillion: 114
                  deathsPerOneMillion: 0
                  tests: 10
                  testsPerOneMillion: 381
                - updated: 1587140875561
                  country: Cayman Islands
                  countryInfo:
                    _id: 136
                    iso2: KY
                    iso3: CYM
                    lat: 19.5
                    long: -80.5
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/ky.png
                  cases: 60
                  todayCases: 0
                  deaths: 1
                  todayDeaths: 0
                  recovered: 6
                  active: 53
                  critical: 3
                  casesPerOneMillion: 913
                  deathsPerOneMillion: 15
                  tests: 636
                  testsPerOneMillion: 9677
                - updated: 1587140875585
                  country: Central African Republic
                  countryInfo:
                    _id: 140
                    iso2: CF
                    iso3: CAF
                    lat: 7
                    long: 21
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/cf.png
                  cases: 12
                  todayCases: 0
                  deaths: 0
                  todayDeaths: 0
                  recovered: 4
                  active: 8
                  critical: 0
                  casesPerOneMillion: 2
                  deathsPerOneMillion: 0
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875571
                  country: Chad
                  countryInfo:
                    _id: 148
                    iso2: TD
                    iso3: TCD
                    lat: 15
                    long: 19
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/td.png
                  cases: 27
                  todayCases: 4
                  deaths: 0
                  todayDeaths: 0
                  recovered: 5
                  active: 22
                  critical: 0
                  casesPerOneMillion: 2
                  deathsPerOneMillion: 0
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875535
                  country: Channel Islands
                  countryInfo:
                    _id: 832
                    iso2: JE
                    iso3: JEY
                    lat: 49.21
                    long: -2.13
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/je.png
                  cases: 457
                  todayCases: 10
                  deaths: 19
                  todayDeaths: 4
                  recovered: 73
                  active: 365
                  critical: 0
                  casesPerOneMillion: 2629
                  deathsPerOneMillion: 109
                  tests: 3320
                  testsPerOneMillion: 19095
                - updated: 1587140875488
                  country: Chile
                  countryInfo:
                    _id: 152
                    iso2: CL
                    iso3: CHL
                    lat: -30
                    long: -71
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/cl.png
                  cases: 8807
                  todayCases: 534
                  deaths: 105
                  todayDeaths: 11
                  recovered: 3299
                  active: 5403
                  critical: 384
                  casesPerOneMillion: 461
                  deathsPerOneMillion: 5
                  tests: 98424
                  testsPerOneMillion: 5149
                - updated: 1587140875471
                  country: China
                  countryInfo:
                    _id: 156
                    iso2: CN
                    iso3: CHN
                    lat: 35
                    long: 105
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/cn.png
                  cases: 82341
                  todayCases: 46
                  deaths: 3342
                  todayDeaths: 0
                  recovered: 77892
                  active: 1107
                  critical: 95
                  casesPerOneMillion: 57
                  deathsPerOneMillion: 2
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875506
                  country: Colombia
                  countryInfo:
                    _id: 170
                    iso2: CO
                    iso3: COL
                    lat: 4
                    long: -72
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/co.png
                  cases: 3233
                  todayCases: 128
                  deaths: 144
                  todayDeaths: 13
                  recovered: 550
                  active: 2539
                  critical: 98
                  casesPerOneMillion: 64
                  deathsPerOneMillion: 3
                  tests: 52085
                  testsPerOneMillion: 1024
                - updated: 1587140875553
                  country: Congo
                  countryInfo:
                    _id: 178
                    iso2: CG
                    iso3: COG
                    lat: -1
                    long: 15
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/cg.png
                  cases: 117
                  todayCases: 0
                  deaths: 5
                  todayDeaths: 0
                  recovered: 11
                  active: 101
                  critical: 0
                  casesPerOneMillion: 21
                  deathsPerOneMillion: 0
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875530
                  country: Costa Rica
                  countryInfo:
                    _id: 188
                    iso2: CR
                    iso3: CRI
                    lat: 10
                    long: -84
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/cr.png
                  cases: 642
                  todayCases: 16
                  deaths: 4
                  todayDeaths: 0
                  recovered: 74
                  active: 564
                  critical: 11
                  casesPerOneMillion: 126
                  deathsPerOneMillion: 0
                  tests: 9396
                  testsPerOneMillion: 1844
                - updated: 1587140875511
                  country: Croatia
                  countryInfo:
                    _id: 191
                    iso2: HR
                    iso3: HRV
                    lat: 45.1667
                    long: 15.5
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/hr.png
                  cases: 1791
                  todayCases: 50
                  deaths: 35
                  todayDeaths: 2
                  recovered: 529
                  active: 1227
                  critical: 31
                  casesPerOneMillion: 436
                  deathsPerOneMillion: 9
                  tests: 20158
                  testsPerOneMillion: 4910
                - updated: 1587140875524
                  country: Cuba
                  countryInfo:
                    _id: 192
                    iso2: CU
                    iso3: CUB
                    lat: 21.5
                    long: -80
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/cu.png
                  cases: 862
                  todayCases: 48
                  deaths: 27
                  todayDeaths: 3
                  recovered: 171
                  active: 664
                  critical: 16
                  casesPerOneMillion: 76
                  deathsPerOneMillion: 2
                  tests: 21837
                  testsPerOneMillion: 1928
                - updated: 1587140875583
                  country: Curaçao
                  countryInfo:
                    _id: 531
                    iso2: CW
                    iso3: CUW
                    lat: 12.15
                    long: -68.97
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/cw.png
                  cases: 14
                  todayCases: 0
                  deaths: 1
                  todayDeaths: 0
                  recovered: 10
                  active: 3
                  critical: 0
                  casesPerOneMillion: 85
                  deathsPerOneMillion: 6
                  tests: 230
                  testsPerOneMillion: 1402
                - updated: 1587140875527
                  country: Cyprus
                  countryInfo:
                    _id: 196
                    iso2: CY
                    iso3: CYP
                    lat: 35
                    long: 33
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/cy.png
                  cases: 735
                  todayCases: 20
                  deaths: 12
                  todayDeaths: 0
                  recovered: 77
                  active: 646
                  critical: 8
                  casesPerOneMillion: 609
                  deathsPerOneMillion: 10
                  tests: 17923
                  testsPerOneMillion: 14845
                - updated: 1587140875494
                  country: Czechia
                  countryInfo:
                    _id: 203
                    iso2: CZ
                    iso3: CZE
                    lat: 49.75
                    long: 15.5
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/cz.png
                  cases: 6433
                  todayCases: 132
                  deaths: 169
                  todayDeaths: 3
                  recovered: 972
                  active: 5292
                  critical: 75
                  casesPerOneMillion: 601
                  deathsPerOneMillion: 16
                  tests: 146004
                  testsPerOneMillion: 13634
                - updated: 1587140875530
                  country: Côte d'Ivoire
                  countryInfo:
                    _id: 384
                    iso2: CI
                    iso3: CIV
                    lat: 8
                    long: -5
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/ci.png
                  cases: 654
                  todayCases: 0
                  deaths: 6
                  todayDeaths: 0
                  recovered: 146
                  active: 502
                  critical: 0
                  casesPerOneMillion: 25
                  deathsPerOneMillion: 0
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875544
                  country: DRC
                  countryInfo:
                    _id: 180
                    iso2: CD
                    iso3: COD
                    lat: 0
                    long: 25
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/cd.png
                  cases: 267
                  todayCases: 13
                  deaths: 22
                  todayDeaths: 1
                  recovered: 23
                  active: 222
                  critical: 0
                  casesPerOneMillion: 3
                  deathsPerOneMillion: 0
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875492
                  country: Denmark
                  countryInfo:
                    _id: 208
                    iso2: DK
                    iso3: DNK
                    lat: 56
                    long: 10
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/dk.png
                  cases: 6879
                  todayCases: 198
                  deaths: 321
                  todayDeaths: 12
                  recovered: 3023
                  active: 3535
                  critical: 92
                  casesPerOneMillion: 1188
                  deathsPerOneMillion: 55
                  tests: 82380
                  testsPerOneMillion: 14223
                - updated: 1587140875528
                  country: Diamond Princess
                  countryInfo:
                    _id: null
                    iso2: null
                    iso3: null
                    lat: 0
                    long: 0
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/unknow.png
                  cases: 712
                  todayCases: 0
                  deaths: 13
                  todayDeaths: 0
                  recovered: 644
                  active: 55
                  critical: 7
                  casesPerOneMillion: 0
                  deathsPerOneMillion: 0
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875531
                  country: Djibouti
                  countryInfo:
                    _id: 262
                    iso2: DJ
                    iso3: DJI
                    lat: 11.5
                    long: 43
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/dj.png
                  cases: 591
                  todayCases: 156
                  deaths: 2
                  todayDeaths: 0
                  recovered: 73
                  active: 516
                  critical: 0
                  casesPerOneMillion: 598
                  deathsPerOneMillion: 2
                  tests: 6430
                  testsPerOneMillion: 6508
                - updated: 1587140875580
                  country: Dominica
                  countryInfo:
                    _id: 212
                    iso2: DM
                    iso3: DMA
                    lat: 15.4167
                    long: -61.3333
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/dm.png
                  cases: 16
                  todayCases: 0
                  deaths: 0
                  todayDeaths: 0
                  recovered: 8
                  active: 8
                  critical: 0
                  casesPerOneMillion: 222
                  deathsPerOneMillion: 0
                  tests: 345
                  testsPerOneMillion: 4793
                - updated: 1587140875504
                  country: Dominican Republic
                  countryInfo:
                    _id: 214
                    iso2: DO
                    iso3: DOM
                    lat: 19
                    long: -70.6667
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/do.png
                  cases: 3755
                  todayCases: 141
                  deaths: 196
                  todayDeaths: 7
                  recovered: 215
                  active: 3344
                  critical: 121
                  casesPerOneMillion: 346
                  deathsPerOneMillion: 18
                  tests: 12229
                  testsPerOneMillion: 1127
                - updated: 1587140875489
                  country: Ecuador
                  countryInfo:
                    _id: 218
                    iso2: EC
                    iso3: ECU
                    lat: -2
                    long: -77.5
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/ec.png
                  cases: 8225
                  todayCases: 367
                  deaths: 403
                  todayDeaths: 15
                  recovered: 838
                  active: 6984
                  critical: 168
                  casesPerOneMillion: 466
                  deathsPerOneMillion: 23
                  tests: 27868
                  testsPerOneMillion: 1580
                - updated: 1587140875507
                  country: Egypt
                  countryInfo:
                    _id: 818
                    iso2: EG
                    iso3: EGY
                    lat: 27
                    long: 30
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/eg.png
                  cases: 2673
                  todayCases: 168
                  deaths: 196
                  todayDeaths: 13
                  recovered: 596
                  active: 1881
                  critical: 0
                  casesPerOneMillion: 26
                  deathsPerOneMillion: 2
                  tests: 25000
                  testsPerOneMillion: 244
                - updated: 1587140875548
                  country: El Salvador
                  countryInfo:
                    _id: 222
                    iso2: SV
                    iso3: SLV
                    lat: 13.8333
                    long: -88.9167
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/sv.png
                  cases: 164
                  todayCases: 5
                  deaths: 6
                  todayDeaths: 0
                  recovered: 33
                  active: 125
                  critical: 2
                  casesPerOneMillion: 25
                  deathsPerOneMillion: 0
                  tests: 8333
                  testsPerOneMillion: 1285
                - updated: 1587140875565
                  country: Equatorial Guinea
                  countryInfo:
                    _id: 226
                    iso2: GQ
                    iso3: GNQ
                    lat: 2
                    long: 10
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/gq.png
                  cases: 51
                  todayCases: 0
                  deaths: 0
                  todayDeaths: 0
                  recovered: 4
                  active: 47
                  critical: 0
                  casesPerOneMillion: 36
                  deathsPerOneMillion: 0
                  tests: 854
                  testsPerOneMillion: 609
                - updated: 1587140875569
                  country: Eritrea
                  countryInfo:
                    _id: 232
                    iso2: ER
                    iso3: ERI
                    lat: 15
                    long: 39
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/er.png
                  cases: 35
                  todayCases: 0
                  deaths: 0
                  todayDeaths: 0
                  recovered: 0
                  active: 35
                  critical: 0
                  casesPerOneMillion: 10
                  deathsPerOneMillion: 0
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875515
                  country: Estonia
                  countryInfo:
                    _id: 233
                    iso2: EE
                    iso3: EST
                    lat: 59
                    long: 26
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/ee.png
                  cases: 1434
                  todayCases: 34
                  deaths: 36
                  todayDeaths: 1
                  recovered: 133
                  active: 1265
                  critical: 10
                  casesPerOneMillion: 1081
                  deathsPerOneMillion: 27
                  tests: 36024
                  testsPerOneMillion: 27156
                - updated: 1587140875556
                  country: Ethiopia
                  countryInfo:
                    _id: 231
                    iso2: ET
                    iso3: ETH
                    lat: 8
                    long: 38
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/et.png
                  cases: 92
                  todayCases: 7
                  deaths: 3
                  todayDeaths: 0
                  recovered: 15
                  active: 74
                  critical: 1
                  casesPerOneMillion: 0
                  deathsPerOneMillion: 0
                  tests: 5389
                  testsPerOneMillion: 47
                - updated: 1587140875587
                  country: Falkland Islands (Malvinas)
                  countryInfo:
                    _id: 238
                    iso2: FK
                    iso3: FLK
                    lat: -51.75
                    long: -59
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/fk.png
                  cases: 11
                  todayCases: 0
                  deaths: 0
                  todayDeaths: 0
                  recovered: 1
                  active: 10
                  critical: 0
                  casesPerOneMillion: 3161
                  deathsPerOneMillion: 0
                  tests: 137
                  testsPerOneMillion: 39368
                - updated: 1587140875547
                  country: Faroe Islands
                  countryInfo:
                    _id: 234
                    iso2: FO
                    iso3: FRO
                    lat: 62
                    long: -7
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/fo.png
                  cases: 184
                  todayCases: 0
                  deaths: 0
                  todayDeaths: 0
                  recovered: 169
                  active: 15
                  critical: 0
                  casesPerOneMillion: 3766
                  deathsPerOneMillion: 0
                  tests: 5765
                  testsPerOneMillion: 117983
                - updated: 1587140875578
                  country: Fiji
                  countryInfo:
                    _id: 242
                    iso2: FJ
                    iso3: FJI
                    lat: -18
                    long: 175
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/fj.png
                  cases: 17
                  todayCases: 1
                  deaths: 0
                  todayDeaths: 0
                  recovered: 0
                  active: 17
                  critical: 0
                  casesPerOneMillion: 19
                  deathsPerOneMillion: 0
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875506
                  country: Finland
                  countryInfo:
                    _id: 246
                    iso2: FI
                    iso3: FIN
                    lat: 64
                    long: 26
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/fi.png
                  cases: 3369
                  todayCases: 132
                  deaths: 75
                  todayDeaths: 3
                  recovered: 1700
                  active: 1594
                  critical: 76
                  casesPerOneMillion: 608
                  deathsPerOneMillion: 14
                  tests: 49700
                  testsPerOneMillion: 8970
                - updated: 1587140875475
                  country: France
                  countryInfo:
                    _id: 250
                    iso2: FR
                    iso3: FRA
                    lat: 46
                    long: 2
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/fr.png
                  cases: 165027
                  todayCases: 17164
                  deaths: 17920
                  todayDeaths: 753
                  recovered: 32812
                  active: 114295
                  critical: 6248
                  casesPerOneMillion: 2528
                  deathsPerOneMillion: 275
                  tests: 333807
                  testsPerOneMillion: 5114
                - updated: 1587140875557
                  country: French Guiana
                  countryInfo:
                    _id: 254
                    iso2: GF
                    iso3: GUF
                    lat: 4
                    long: -53
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/gf.png
                  cases: 86
                  todayCases: 0
                  deaths: 0
                  todayDeaths: 0
                  recovered: 51
                  active: 35
                  critical: 1
                  casesPerOneMillion: 288
                  deathsPerOneMillion: 0
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875563
                  country: French Polynesia
                  countryInfo:
                    _id: 258
                    iso2: PF
                    iso3: PYF
                    lat: -15
                    long: -140
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/pf.png
                  cases: 55
                  todayCases: 0
                  deaths: 0
                  todayDeaths: 0
                  recovered: 0
                  active: 55
                  critical: 1
                  casesPerOneMillion: 196
                  deathsPerOneMillion: 0
                  tests: 920
                  testsPerOneMillion: 3275
                - updated: 1587140875559
                  country: Gabon
                  countryInfo:
                    _id: 266
                    iso2: GA
                    iso3: GAB
                    lat: -1
                    long: 11.75
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/ga.png
                  cases: 80
                  todayCases: 0
                  deaths: 1
                  todayDeaths: 0
                  recovered: 4
                  active: 75
                  critical: 0
                  casesPerOneMillion: 36
                  deathsPerOneMillion: 0
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875590
                  country: Gambia
                  countryInfo:
                    _id: 270
                    iso2: GM
                    iso3: GMB
                    lat: 13.4667
                    long: -16.5667
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/gm.png
                  cases: 9
                  todayCases: 0
                  deaths: 1
                  todayDeaths: 0
                  recovered: 2
                  active: 6
                  critical: 0
                  casesPerOneMillion: 4
                  deathsPerOneMillion: 0
                  tests: 281
                  testsPerOneMillion: 116
                - updated: 1587140875540
                  country: Georgia
                  countryInfo:
                    _id: 268
                    iso2: GE
                    iso3: GEO
                    lat: 42
                    long: 43.5
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/ge.png
                  cases: 348
                  todayCases: 42
                  deaths: 3
                  todayDeaths: 0
                  recovered: 76
                  active: 269
                  critical: 6
                  casesPerOneMillion: 87
                  deathsPerOneMillion: 0
                  tests: 5027
                  testsPerOneMillion: 1260
                - updated: 1587140875475
                  country: Germany
                  countryInfo:
                    _id: 276
                    iso2: DE
                    iso3: DEU
                    lat: 51
                    long: 9
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/de.png
                  cases: 137698
                  todayCases: 2945
                  deaths: 4052
                  todayDeaths: 248
                  recovered: 77000
                  active: 56646
                  critical: 4288
                  casesPerOneMillion: 1643
                  deathsPerOneMillion: 48
                  tests: 1728357
                  testsPerOneMillion: 20629
                - updated: 1587140875531
                  country: Ghana
                  countryInfo:
                    _id: 288
                    iso2: GH
                    iso3: GHA
                    lat: 8
                    long: -2
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/gh.png
                  cases: 641
                  todayCases: 0
                  deaths: 8
                  todayDeaths: 0
                  recovered: 83
                  active: 550
                  critical: 2
                  casesPerOneMillion: 21
                  deathsPerOneMillion: 0
                  tests: 50719
                  testsPerOneMillion: 1632
                - updated: 1587140875552
                  country: Gibraltar
                  countryInfo:
                    _id: 292
                    iso2: GI
                    iso3: GIB
                    lat: 36.1833
                    long: -5.3667
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/gi.png
                  cases: 131
                  todayCases: 0
                  deaths: 0
                  todayDeaths: 0
                  recovered: 104
                  active: 27
                  critical: 1
                  casesPerOneMillion: 3888
                  deathsPerOneMillion: 0
                  tests: 1649
                  testsPerOneMillion: 48945
                - updated: 1587140875510
                  country: Greece
                  countryInfo:
                    _id: 300
                    iso2: GR
                    iso3: GRC
                    lat: 39
                    long: 22
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/gr.png
                  cases: 2207
                  todayCases: 15
                  deaths: 105
                  todayDeaths: 3
                  recovered: 269
                  active: 1833
                  critical: 69
                  casesPerOneMillion: 212
                  deathsPerOneMillion: 10
                  tests: 50771
                  testsPerOneMillion: 4871
                - updated: 1587140875587
                  country: Greenland
                  countryInfo:
                    _id: 304
                    iso2: GL
                    iso3: GRL
                    lat: 72
                    long: -40
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/gl.png
                  cases: 11
                  todayCases: 0
                  deaths: 0
                  todayDeaths: 0
                  recovered: 11
                  active: 0
                  critical: 0
                  casesPerOneMillion: 194
                  deathsPerOneMillion: 0
                  tests: 912
                  testsPerOneMillion: 16065
                - updated: 1587140875584
                  country: Grenada
                  countryInfo:
                    _id: 308
                    iso2: GD
                    iso3: GRD
                    lat: 12.1167
                    long: -61.6667
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/gd.png
                  cases: 14
                  todayCases: 0
                  deaths: 0
                  todayDeaths: 0
                  recovered: 0
                  active: 14
                  critical: 2
                  casesPerOneMillion: 124
                  deathsPerOneMillion: 0
                  tests: 92
                  testsPerOneMillion: 818
                - updated: 1587140875550
                  country: Guadeloupe
                  countryInfo:
                    _id: 312
                    iso2: GP
                    iso3: GLP
                    lat: 16.25
                    long: -61.5833
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/gp.png
                  cases: 145
                  todayCases: 0
                  deaths: 8
                  todayDeaths: 0
                  recovered: 67
                  active: 70
                  critical: 13
                  casesPerOneMillion: 362
                  deathsPerOneMillion: 20
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875546
                  country: Guatemala
                  countryInfo:
                    _id: 320
                    iso2: GT
                    iso3: GTM
                    lat: 15.5
                    long: -90.25
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/gt.png
                  cases: 196
                  todayCases: 16
                  deaths: 5
                  todayDeaths: 0
                  recovered: 19
                  active: 172
                  critical: 3
                  casesPerOneMillion: 11
                  deathsPerOneMillion: 0
                  tests: 7200
                  testsPerOneMillion: 402
                - updated: 1587140875536
                  country: Guinea
                  countryInfo:
                    _id: 324
                    iso2: GN
                    iso3: GIN
                    lat: 11
                    long: -10
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/gn.png
                  cases: 438
                  todayCases: 34
                  deaths: 1
                  todayDeaths: 0
                  recovered: 49
                  active: 388
                  critical: 0
                  casesPerOneMillion: 33
                  deathsPerOneMillion: 0
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875567
                  country: Guinea-Bissau
                  countryInfo:
                    _id: 624
                    iso2: GW
                    iso3: GNB
                    lat: 12
                    long: -15
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/gw.png
                  cases: 43
                  todayCases: 0
                  deaths: 0
                  todayDeaths: 0
                  recovered: 0
                  active: 43
                  critical: 0
                  casesPerOneMillion: 22
                  deathsPerOneMillion: 0
                  tests: 1500
                  testsPerOneMillion: 762
                - updated: 1587140875563
                  country: Guyana
                  countryInfo:
                    _id: 328
                    iso2: GY
                    iso3: GUY
                    lat: 5
                    long: -59
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/gy.png
                  cases: 55
                  todayCases: 0
                  deaths: 6
                  todayDeaths: 0
                  recovered: 8
                  active: 41
                  critical: 5
                  casesPerOneMillion: 70
                  deathsPerOneMillion: 8
                  tests: 213
                  testsPerOneMillion: 271
                - updated: 1587140875567
                  country: Haiti
                  countryInfo:
                    _id: 332
                    iso2: HT
                    iso3: HTI
                    lat: 19
                    long: -72.4167
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/ht.png
                  cases: 41
                  todayCases: 0
                  deaths: 3
                  todayDeaths: 0
                  recovered: 0
                  active: 38
                  critical: 0
                  casesPerOneMillion: 4
                  deathsPerOneMillion: 0
                  tests: 365
                  testsPerOneMillion: 32
                - updated: 1587140875591
                  country: Holy See (Vatican City State)
                  countryInfo:
                    _id: 336
                    iso2: VA
                    iso3: VAT
                    lat: 41.9
                    long: 12.45
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/va.png
                  cases: 8
                  todayCases: 0
                  deaths: 0
                  todayDeaths: 0
                  recovered: 2
                  active: 6
                  critical: 0
                  casesPerOneMillion: 9988
                  deathsPerOneMillion: 0
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875537
                  country: Honduras
                  countryInfo:
                    _id: 340
                    iso2: HN
                    iso3: HND
                    lat: 15
                    long: -86.5
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/hn.png
                  cases: 426
                  todayCases: 7
                  deaths: 35
                  todayDeaths: 4
                  recovered: 9
                  active: 382
                  critical: 10
                  casesPerOneMillion: 43
                  deathsPerOneMillion: 4
                  tests: 2012
                  testsPerOneMillion: 203
                - updated: 1587140875521
                  country: Hong Kong
                  countryInfo:
                    _id: 344
                    iso2: HK
                    iso3: HKG
                    lat: 22.25
                    long: 114.1667
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/hk.png
                  cases: 1018
                  todayCases: 1
                  deaths: 4
                  todayDeaths: 0
                  recovered: 485
                  active: 529
                  critical: 9
                  casesPerOneMillion: 136
                  deathsPerOneMillion: 0
                  tests: 116273
                  testsPerOneMillion: 15509
                - updated: 1587140875513
                  country: Hungary
                  countryInfo:
                    _id: 348
                    iso2: HU
                    iso3: HUN
                    lat: 47
                    long: 20
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/hu.png
                  cases: 1652
                  todayCases: 73
                  deaths: 142
                  todayDeaths: 8
                  recovered: 199
                  active: 1311
                  critical: 60
                  casesPerOneMillion: 171
                  deathsPerOneMillion: 15
                  tests: 38489
                  testsPerOneMillion: 3984
                - updated: 1587140875512
                  country: Iceland
                  countryInfo:
                    _id: 352
                    iso2: IS
                    iso3: ISL
                    lat: 65
                    long: -18
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/is.png
                  cases: 1739
                  todayCases: 12
                  deaths: 8
                  todayDeaths: 0
                  recovered: 1144
                  active: 587
                  critical: 6
                  casesPerOneMillion: 5096
                  deathsPerOneMillion: 23
                  tests: 38204
                  testsPerOneMillion: 111955
                - updated: 1587140875484
                  country: India
                  countryInfo:
                    _id: 356
                    iso2: IN
                    iso3: IND
                    lat: 20
                    long: 77
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/in.png
                  cases: 13430
                  todayCases: 1060
                  deaths: 448
                  todayDeaths: 26
                  recovered: 1768
                  active: 11214
                  critical: 0
                  casesPerOneMillion: 10
                  deathsPerOneMillion: 0
                  tests: 302956
                  testsPerOneMillion: 220
                - updated: 1587140875498
                  country: Indonesia
                  countryInfo:
                    _id: 360
                    iso2: ID
                    iso3: IDN
                    lat: -5
                    long: 120
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/id.png
                  cases: 5516
                  todayCases: 380
                  deaths: 496
                  todayDeaths: 27
                  recovered: 548
                  active: 4472
                  critical: 0
                  casesPerOneMillion: 20
                  deathsPerOneMillion: 2
                  tests: 36000
                  testsPerOneMillion: 132
                - updated: 1587140875477
                  country: Iran
                  countryInfo:
                    _id: 364
                    iso2: IR
                    iso3: IRN
                    lat: 32
                    long: 53
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/ir.png
                  cases: 77995
                  todayCases: 1606
                  deaths: 4869
                  todayDeaths: 92
                  recovered: 52229
                  active: 20897
                  critical: 3594
                  casesPerOneMillion: 929
                  deathsPerOneMillion: 58
                  tests: 310340
                  testsPerOneMillion: 3695
                - updated: 1587140875514
                  country: Iraq
                  countryInfo:
                    _id: 368
                    iso2: IQ
                    iso3: IRQ
                    lat: 33
                    long: 44
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/iq.png
                  cases: 1434
                  todayCases: 19
                  deaths: 80
                  todayDeaths: 1
                  recovered: 856
                  active: 498
                  critical: 0
                  casesPerOneMillion: 36
                  deathsPerOneMillion: 2
                  tests: 49260
                  testsPerOneMillion: 1225
                - updated: 1587140875485
                  country: Ireland
                  countryInfo:
                    _id: 372
                    iso2: IE
                    iso3: IRL
                    lat: 53
                    long: -8
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/ie.png
                  cases: 13271
                  todayCases: 724
                  deaths: 486
                  todayDeaths: 42
                  recovered: 77
                  active: 12708
                  critical: 156
                  casesPerOneMillion: 2688
                  deathsPerOneMillion: 98
                  tests: 90646
                  testsPerOneMillion: 18358
                - updated: 1587140875542
                  country: Isle of Man
                  countryInfo:
                    _id: 833
                    iso2: IM
                    iso3: IMN
                    lat: 54.23
                    long: -4.55
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/im.png
                  cases: 284
                  todayCases: 28
                  deaths: 4
                  todayDeaths: 0
                  recovered: 154
                  active: 126
                  critical: 13
                  casesPerOneMillion: 3340
                  deathsPerOneMillion: 47
                  tests: 2261
                  testsPerOneMillion: 26590
                - updated: 1587140875485
                  country: Israel
                  countryInfo:
                    _id: 376
                    iso2: IL
                    iso3: ISR
                    lat: 31.5
                    long: 34.75
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/il.png
                  cases: 12758
                  todayCases: 257
                  deaths: 142
                  todayDeaths: 12
                  recovered: 2818
                  active: 9798
                  critical: 181
                  casesPerOneMillion: 1474
                  deathsPerOneMillion: 16
                  tests: 187250
                  testsPerOneMillion: 21634
                - updated: 1587140875474
                  country: Italy
                  countryInfo:
                    _id: 380
                    iso2: IT
                    iso3: ITA
                    lat: 42.8333
                    long: 12.8333
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/it.png
                  cases: 168941
                  todayCases: 3786
                  deaths: 22170
                  todayDeaths: 525
                  recovered: 40164
                  active: 106607
                  critical: 2936
                  casesPerOneMillion: 2794
                  deathsPerOneMillion: 367
                  tests: 1178403
                  testsPerOneMillion: 19490
                - updated: 1587140875550
                  country: Jamaica
                  countryInfo:
                    _id: 388
                    iso2: JM
                    iso3: JAM
                    lat: 18.25
                    long: -77.5
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/jm.png
                  cases: 143
                  todayCases: 18
                  deaths: 5
                  todayDeaths: 0
                  recovered: 21
                  active: 117
                  critical: 0
                  casesPerOneMillion: 48
                  deathsPerOneMillion: 2
                  tests: 1424
                  testsPerOneMillion: 481
                - updated: 1587140875488
                  country: Japan
                  countryInfo:
                    _id: 392
                    iso2: JP
                    iso3: JPN
                    lat: 36
                    long: 138
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/jp.png
                  cases: 9231
                  todayCases: 605
                  deaths: 190
                  todayDeaths: 12
                  recovered: 935
                  active: 8106
                  critical: 193
                  casesPerOneMillion: 73
                  deathsPerOneMillion: 2
                  tests: 100703
                  testsPerOneMillion: 796
                - updated: 1587140875538
                  country: Jordan
                  countryInfo:
                    _id: 400
                    iso2: JO
                    iso3: JOR
                    lat: 31
                    long: 36
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/jo.png
                  cases: 402
                  todayCases: 1
                  deaths: 7
                  todayDeaths: 0
                  recovered: 259
                  active: 136
                  critical: 5
                  casesPerOneMillion: 39
                  deathsPerOneMillion: 0
                  tests: 20500
                  testsPerOneMillion: 2009
                - updated: 1587140875515
                  country: Kazakhstan
                  countryInfo:
                    _id: 398
                    iso2: KZ
                    iso3: KAZ
                    lat: 48
                    long: 68
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/kz.png
                  cases: 1402
                  todayCases: 107
                  deaths: 17
                  todayDeaths: 1
                  recovered: 277
                  active: 1108
                  critical: 22
                  casesPerOneMillion: 75
                  deathsPerOneMillion: 0
                  tests: 85735
                  testsPerOneMillion: 4566
                - updated: 1587140875545
                  country: Kenya
                  countryInfo:
                    _id: 404
                    iso2: KE
                    iso3: KEN
                    lat: 1
                    long: 38
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/ke.png
                  cases: 234
                  todayCases: 9
                  deaths: 11
                  todayDeaths: 1
                  recovered: 53
                  active: 170
                  critical: 2
                  casesPerOneMillion: 4
                  deathsPerOneMillion: 0
                  tests: 9630
                  testsPerOneMillion: 179
                - updated: 1587140875514
                  country: Kuwait
                  countryInfo:
                    _id: 414
                    iso2: KW
                    iso3: KWT
                    lat: 29.3375
                    long: 47.6581
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/kw.png
                  cases: 1524
                  todayCases: 119
                  deaths: 3
                  todayDeaths: 0
                  recovered: 225
                  active: 1296
                  critical: 32
                  casesPerOneMillion: 357
                  deathsPerOneMillion: 0
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875534
                  country: Kyrgyzstan
                  countryInfo:
                    _id: 417
                    iso2: KG
                    iso3: KGZ
                    lat: 41
                    long: 75
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/kg.png
                  cases: 466
                  todayCases: 17
                  deaths: 5
                  todayDeaths: 0
                  recovered: 91
                  active: 370
                  critical: 5
                  casesPerOneMillion: 71
                  deathsPerOneMillion: 0
                  tests: 26147
                  testsPerOneMillion: 4008
                - updated: 1587140875574
                  country: Lao People's Democratic Republic
                  countryInfo:
                    _id: 418
                    iso2: LA
                    iso3: LAO
                    lat: 18
                    long: 105
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/la.png
                  cases: 19
                  todayCases: 0
                  deaths: 0
                  todayDeaths: 0
                  recovered: 2
                  active: 17
                  critical: 0
                  casesPerOneMillion: 3
                  deathsPerOneMillion: 0
                  tests: 1288
                  testsPerOneMillion: 177
                - updated: 1587140875528
                  country: Latvia
                  countryInfo:
                    _id: 428
                    iso2: LV
                    iso3: LVA
                    lat: 57
                    long: 25
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/lv.png
                  cases: 675
                  todayCases: 9
                  deaths: 5
                  todayDeaths: 0
                  recovered: 57
                  active: 613
                  critical: 3
                  casesPerOneMillion: 358
                  deathsPerOneMillion: 3
                  tests: 31302
                  testsPerOneMillion: 16595
                - updated: 1587140875529
                  country: Lebanon
                  countryInfo:
                    _id: 422
                    iso2: LB
                    iso3: LBN
                    lat: 33.8333
                    long: 35.8333
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/lb.png
                  cases: 663
                  todayCases: 5
                  deaths: 21
                  todayDeaths: 0
                  recovered: 86
                  active: 556
                  critical: 30
                  casesPerOneMillion: 97
                  deathsPerOneMillion: 3
                  tests: 18115
                  testsPerOneMillion: 2654
                - updated: 1587140875561
                  country: Liberia
                  countryInfo:
                    _id: 430
                    iso2: LR
                    iso3: LBR
                    lat: 6.5
                    long: -9.5
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/lr.png
                  cases: 59
                  todayCases: 0
                  deaths: 6
                  todayDeaths: 0
                  recovered: 4
                  active: 49
                  critical: 0
                  casesPerOneMillion: 12
                  deathsPerOneMillion: 1
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875565
                  country: Libyan Arab Jamahiriya
                  countryInfo:
                    _id: 434
                    iso2: LY
                    iso3: LBY
                    lat: 25
                    long: 17
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/ly.png
                  cases: 49
                  todayCases: 1
                  deaths: 1
                  todayDeaths: 0
                  recovered: 11
                  active: 37
                  critical: 0
                  casesPerOneMillion: 7
                  deathsPerOneMillion: 0
                  tests: 699
                  testsPerOneMillion: 102
                - updated: 1587140875560
                  country: Liechtenstein
                  countryInfo:
                    _id: 438
                    iso2: LI
                    iso3: LIE
                    lat: 47.1667
                    long: 9.5333
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/li.png
                  cases: 79
                  todayCases: 0
                  deaths: 1
                  todayDeaths: 0
                  recovered: 55
                  active: 23
                  critical: 0
                  casesPerOneMillion: 2072
                  deathsPerOneMillion: 26
                  tests: 900
                  testsPerOneMillion: 23605
                - updated: 1587140875519
                  country: Lithuania
                  countryInfo:
                    _id: 440
                    iso2: LT
                    iso3: LTU
                    lat: 56
                    long: 24
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/lt.png
                  cases: 1128
                  todayCases: 37
                  deaths: 32
                  todayDeaths: 2
                  recovered: 178
                  active: 918
                  critical: 14
                  casesPerOneMillion: 414
                  deathsPerOneMillion: 12
                  tests: 48537
                  testsPerOneMillion: 17829
                - updated: 1587140875505
                  country: Luxembourg
                  countryInfo:
                    _id: 442
                    iso2: LU
                    iso3: LUX
                    lat: 49.75
                    long: 6.1667
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/lu.png
                  cases: 3444
                  todayCases: 71
                  deaths: 69
                  todayDeaths: 0
                  recovered: 552
                  active: 2823
                  critical: 35
                  casesPerOneMillion: 5502
                  deathsPerOneMillion: 110
                  tests: 31660
                  testsPerOneMillion: 50577
                - updated: 1587140875590
                  country: MS Zaandam
                  countryInfo:
                    _id: null
                    iso2: null
                    iso3: null
                    lat: 0
                    long: 0
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/unknow.png
                  cases: 9
                  todayCases: 0
                  deaths: 2
                  todayDeaths: 0
                  recovered: 0
                  active: 7
                  critical: 0
                  casesPerOneMillion: 0
                  deathsPerOneMillion: 0
                  tests: 0
                  testsPerOneMillion: 0
                - updated: 1587140875566
                  country: Macao
                  countryInfo:
                    _id: 446
                    iso2: MO
                    iso3: MAC
                    lat: 22.1667
                    long: 113.55
                    flag: >-
                      https://raw.githubusercontent.com/NovelCOVID/API/master/assets/flags/mo.png
                  cases: 45
[...]
