{
  "swagger": "2.0",
  "info": {
    "version": "3.0.0",
    "title": "disease.sh Docs - An open API for disease-related statistics",
    "description": "Third Party API for reliable global disease information",
    "license": {
      "name": "GNU V3",
      "url": "https://github.com/disease-sh/API/blob/master/LICENSE"
    }
  },
  "schemes": [
    "https",
    "http"
  ],
  "host": "disease.sh",
  "basePath": "/",
  "tags": [
    {
      "name": "COVID-19: Worldometers",
      "description": "(COVID-19 data sourced from Worldometers, updated every 10 minutes)"
    },
    {
      "name": "COVID-19: JHUCSSE",
      "description": "(COVID-19 data sourced from Johns Hopkins University, updated every 10 minutes)"
    },
    {
      "name": "COVID-19: NYT",
      "description": "(COVID-19 data sourced from the New York Times, updated every 24 hours)"
    },
    {
      "name": "COVID-19: Apple",
      "description": "(COVID-19 related mobility trend data from Apple, updated every 24 hours)"
    },
    {
      "name": "COVID-19: Government",
      "description": "(COVID-19 individual government reported data, updated every 24 hours)"
    },
    {
      "name": "COVID-19: Vaccine",
      "description": "(COVID-19 vaccine trial data from raps.org, updated every 24 hours)"
    },
    {
      "name": "COVID-19: Therapeutics",
      "description": "(COVID-19 therapeutic trial data from raps.org, updated every 24 hours)"
    },
    {
      "name": "Influenza: CDC",
      "description": "(Influenza data reported by the United States CDC, updated every 24 hours)"
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v3/covid-19/all": {
      "get": {
        "tags": [
          "COVID-19: Worldometers"
        ],
        "parameters": [
          {
            "name": "yesterday",
            "in": "query",
            "enum": [
              "true",
              "false",
              "1",
              "0"
            ],
            "description": "Queries data reported a day ago",
            "type": "string"
          },
          {
            "name": "twoDaysAgo",
            "in": "query",
            "enum": [
              "true",
              "false",
              "1",
              "0"
            ],
            "description": "Queries data reported two days ago",
            "type": "string"
          },
          {
            "name": "allowNull",
            "in": "query",
            "enum": [
              "true",
              "false",
              "1",
              "0"
            ],
            "description": "By default, if a value is missing, it is returned as 0. This allows nulls to be returned",
            "type": "string"
          }
        ],
        "summary": "Get global COVID-19 totals for today, yesterday and two days ago",
        "responses": {
          "200": {
            "description": "Status OK",
            "schema": {
              "$ref": "#/definitions/covidAll"
            }
          }
        }
      }
    },
    "/v3/covid-19/states": {
      "get": {
        "tags": [
          "COVID-19: Worldometers"
        ],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "enum": [
              "cases",
              "todayCases",
              "deaths",
              "todayDeaths",
              "active"
            ],
            "description": "Provided a key (e.g. cases, todayCases, deaths, active), result will be sorted from greatest to least",
            "type": "string"
          },
          {
            "name": "yesterday",
            "in": "query",
            "enum": [
              "true",
              "false",
              "1",
              "0"
            ],
            "description": "Queries data reported a day ago",
            "type": "string"
          },
          {
            "name": "allowNull",
            "in": "query",
            "enum": [
              "true",
              "false",
              "1",
              "0"
            ],
            "description": "By default, if a value is missing, it is returned as 0. This allows nulls to be returned",
            "type": "string"
          }
        ],
        "summary": "Get COVID-19 totals for all US States",
        "responses": {
          "200": {
            "description": "Status OK",
            "schema": {
              "$ref": "#/definitions/covidStates"
            }
          }
        }
      }
    },
    "/v3/covid-19/states/{states}": {
      "get": {
        "tags": [
          "COVID-19: Worldometers"
        ],
        "parameters": [
          {
            "name": "states",
            "in": "path",
            "required": true,
            "description": "State name or comma separated names spelled correctly",
            "type": "string"
          },
          {
            "name": "yesterday",
            "in": "query",
            "enum": [
              "true",
              "false",
              "1",
              "0"
            ],
            "description": "Queries data reported a day ago",
            "type": "string"
          },
          {
            "name": "allowNull",
            "in": "query",
            "enum": [
              "true",
              "false",
              "1",
              "0"
            ],
            "description": "By default, if a value is missing, it is returned as 0. This allows nulls to be returned",
            "type": "string"
          }
        ],
        "summary": "Get COVID-19 totals for specific US State(s)",
        "responses": {
          "200": {
            "description": "Status OK",
            "schema": {
              "$ref": "#/definitions/covidState"
            }
          }
        }
      }
    },
    "/v3/covid-19/continents": {
      "get": {
        "tags": [
          "COVID-19: Worldometers"
        ],
        "parameters": [
          {
            "name": "yesterday",
            "in": "query",
            "enum": [
              "true",
              "false",
              "1",
              "0"
            ],
            "description": "Queries data reported a day ago",
            "type": "string"
          },
          {
            "name": "twoDaysAgo",
            "in": "query",
            "enum": [
              "true",
              "false",
              "1",
              "0"
            ],
            "description": "Queries data reported two days ago",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "enum": [
              "cases",
              "todayCases",
              "deaths",
              "todayDeaths",
              "recovered",
              "active",
              "critical",
              "casesPerOneMillion",
              "deathsPerOneMillion"
            ],
            "description": "Provided a key (e.g. cases, todayCases, deaths, recovered, active), results will be sorted from greatest to least",
            "type": "string"
          },
          {
            "name": "allowNull",
            "in": "query",
            "enum": [
              "true",
              "false",
              "1",
              "0"
            ],
            "description": "By default, if a value is missing, it is returned as 0. This allows nulls to be returned",
            "type": "string"
          }
        ],
        "summary": "Get COVID-19 totals for all continents",
        "responses": {
          "200": {
            "description": "Status OK",
            "schema": {
              "$ref": "#/definitions/covidContinents"
            }
          }
        }
      }
    },
    "/v3/covid-19/continents/{continent}": {
      "get": {
        "tags": [
          "COVID-19: Worldometers"
        ],
        "parameters": [
          {
            "name": "continent",
            "in": "path",
            "required": true,
            "description": "Continent name",
            "type": "string"
          },
          {
            "name": "yesterday",
            "in": "query",
            "enum": [
              "true",
              "false",
              "1",
              "0"
            ],
            "description": "Queries data reported a day ago",
            "type": "string"
          },
          {
            "name": "twoDaysAgo",
            "in": "query",
            "enum": [
              "true",
              "false",
              "1",
              "0"
            ],
            "description": "Queries data reported two days ago",
            "type": "string"
          },
          {
            "name": "strict",
            "in": "query",
            "enum": [
              "true",
              "false"
            ],
            "default": "true",
            "description": "Setting to false gives you the ability to fuzzy search continents (i.e. Oman vs. rOMANia)",
            "type": "string"
          },
          {
            "name": "allowNull",
            "in": "query",
            "enum": [
              "true",
              "false",
              "1",
              "0"
            ],
            "description": "By default, if a value is missing, it is returned as 0. This allows nulls to be returned",
            "type": "string"
          }
        ],
        "summary": "Get COVID-19 totals for a specific continent",
        "responses": {
          "200": {
            "description": "Status OK",
            "schema": {
              "$ref": "#/definitions/covidContinent"
            }
          }
        }
      }
    },
    "/v3/covid-19/countries": {
      "get": {
        "tags": [
          "COVID-19: Worldometers"
        ],
        "parameters": [
          {
            "name": "yesterday",
            "in": "query",
            "enum": [
              "true",
              "false",
              "1",
              "0"
            ],
            "description": "Queries data reported a day ago",
            "type": "string"
          },
          {
            "name": "twoDaysAgo",
            "in": "query",
            "enum": [
              "true",
              "false",
              "1",
              "0"
            ],
            "description": "Queries data reported two days ago",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "enum": [
              "cases",
              "todayCases",
              "deaths",
              "todayDeaths",
              "recovered",
              "active",
              "critical",
              "casesPerOneMillion",
              "deathsPerOneMillion"
            ],
            "description": "Provided a key (e.g. cases, todayCases, deaths, recovered, active), the result will be sorted from greatest to least",
            "type": "string"
          },
          {
            "name": "allowNull",
            "in": "query",
            "enum": [
              "true",
              "false",
              "1",
              "0"
            ],
            "description": "By default, if a value is missing, it is returned as 0. This allows nulls to be returned",
            "type": "string"
          }
        ],
        "summary": "Get COVID-19 totals for all countries",
        "responses": {
          "200": {
            "description": "Status OK",
            "schema": {
              "$ref": "#/definitions/covidCountries"
            }
          }
        }
      }
    },
    "/v3/covid-19/countries/{country}": {
      "get": {
        "tags": [
          "COVID-19: Worldometers"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "description": "A country name, iso2, iso3, or country ID code",
            "type": "string"
          },
          {
            "name": "yesterday",
            "in": "query",
            "enum": [
              "true",
              "false",
              "1",
              "0"
            ],
            "description": "Queries data reported a day ago",
            "type": "string"
          },
          {
            "name": "twoDaysAgo",
            "in": "query",
            "enum": [
              "true",
              "false",
              "1",
              "0"
            ],
            "description": "Queries data reported two days ago",
            "type": "string"
          },
          {
            "name": "strict",
            "in": "query",
            "enum": [
              "true",
              "false"
            ],
            "default": "true",
            "description": "Setting to false gives you the ability to fuzzy search countries (i.e. Oman vs. rOMANia)",
            "type": "string"
          },
          {
            "name": "allowNull",
            "in": "query",
            "enum": [
              "true",
              "false",
              "1",
              "0"
            ],
            "description": "By default, if a value is missing, it is returned as 0. This allows nulls to be returned",
            "type": "string"
          }
        ],
        "summary": "Get COVID-19 totals for a specific country",
        "responses": {
          "200": {
            "description": "Status OK",
            "schema": {
              "$ref": "#/definitions/covidCountry"
            }
          }
        }
      }
    },
    "/v3/covid-19/countries/{countries}": {
      "get": {
        "tags": [
          "COVID-19: Worldometers"
        ],
        "parameters": [
          {
            "name": "countries",
            "in": "path",
            "required": true,
            "description": "Multiple country names, iso2, iso3, or country IDs separated by commas",
            "type": "string"
          },
          {
            "name": "yesterday",
            "in": "query",
            "enum": [
              "true",
              "false",
              "1",
              "0"
            ],
            "description": "Queries data reported a day ago",
            "type": "string"
          },
          {
            "name": "twoDaysAgo",
            "in": "query",
            "enum": [
              "true",
              "false",
              "1",
              "0"
            ],
            "description": "Queries data reported two days ago",
            "type": "string"
          },
          {
            "name": "allowNull",
            "in": "query",
            "enum": [
              "true",
              "false",
              "1",
              "0"
            ],
            "description": "By default, if a value is missing, it is returned as 0. This allows nulls to be returned",
            "type": "string"
          }
        ],
        "summary": "Get COVID-19 totals for a specific set of countries",
        "responses": {
          "200": {
            "description": "Status OK",
            "schema": {
              "$ref": "#/definitions/covidCountries"
            }
          }
        }
      }
    },
    "/v3/covid-19/jhucsse": {
      "get": {
        "tags": [
          "COVID-19: JHUCSSE"
        ],
        "summary": "Get COVID-19 totals for all countries and their provinces",
        "responses": {
          "200": {
            "description": "Status OK",
            "schema": {
              "$ref": "#/definitions/covidJHUCountries"
            }
          }
        }
      }
    },
    "/v3/covid-19/jhucsse/counties": {
      "get": {
        "tags": [
          "COVID-19: JHUCSSE"
        ],
        "summary": "Get COVID-19 totals for all US counties",
        "responses": {
          "200": {
            "description": "Status OK",
            "schema": {
              "$ref": "#/definitions/covidJHUCounties"
            }
          }
        }
      }
    },
    "/v3/covid-19/jhucsse/counties/{county}": {
      "get": {
        "tags": [
          "COVID-19: JHUCSSE"
        ],
        "parameters": [
          {
            "name": "county",
            "in": "path",
            "required": true,
            "description": "Name of any county in the USA. All counties are listed in the /v3/covid-19/jhucsse/counties/ endpoint",
            "type": "string"
          }
        ],
        "summary": "Get COVID-19 totals for a specific county",
        "responses": {
          "200": {
            "description": "Status OK",
            "schema": {
              "$ref": "#/definitions/covidJHUCounty"
            }
          }
        }
      }
    },
    "/v3/covid-19/historical": {
      "get": {
        "tags": [
          "COVID-19: JHUCSSE"
        ],
        "parameters": [
          {
            "name": "lastdays",
            "in": "query",
            "default": 30,
            "description": "Number of days to return. Use 'all' for the full data set (e.g. 15, all, 24)",
            "type": "string"
          }
        ],
        "summary": "Get COVID-19 time series data for all countries and their provinces",
        "responses": {
          "200": {
            "description": "Status OK",
            "schema": {
              "$ref": "#/definitions/covidHistorical"
            }
          }
        }
      }
    },
    "/v3/covid-19/historical/all": {
      "get": {
        "tags": [
          "COVID-19: JHUCSSE"
        ],
        "parameters": [
          {
            "name": "lastdays",
            "in": "query",
            "default": 30,
            "description": "Number of days to return. Use 'all' for the full data set (e.g. 15, all, 24)",
            "type": "string"
          }
        ],
        "summary": "Get global accumulated COVID-19 time series data",
        "responses": {
          "200": {
            "description": "Status Ok",
            "schema": {
              "$ref": "#/definitions/covidHistoricalAll"
            }
          }
        }
      }
    },
    "/v3/covid-19/historical/{country}": {
      "get": {
        "tags": [
          "COVID-19: JHUCSSE"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "description": "A country name, iso2, iso3, or country ID code",
            "type": "string"
          },
          {
            "name": "lastdays",
            "in": "query",
            "default": 30,
            "description": "Number of days to return. Use 'all' for the full data set (e.g. 15, all, 24)",
            "type": "string"
          }
        ],
        "summary": "Get COVID-19 time series data for a specific country",
        "responses": {
          "200": {
            "description": "Status Ok",
            "schema": {
              "$ref": "#/definitions/covidHistoricalCountry"
            }
          }
        }
      }
    },
    "/v3/covid-19/historical/{countries}": {
      "get": {
        "tags": [
          "COVID-19: JHUCSSE"
        ],
        "parameters": [
          {
            "name": "countries",
            "in": "path",
            "required": true,
            "description": "Multiple country names, iso2, iso3, or country IDs separated by commas",
            "type": "string"
          },
          {
            "name": "lastdays",
            "in": "query",
            "default": 30,
            "description": "Number of days to return. Use 'all' for the full data set (e.g. 15, all, 24)",
            "type": "string"
          }
        ],
        "summary": "Get COVID-19 time series data for a specific set of countries",
        "responses": {
          "200": {
            "description": "Status Ok",
            "schema": {
              "$ref": "#/definitions/covidHistoricalCountries"
            }
          }
        }
      }
    },
    "/v3/covid-19/historical/{country}/{province}": {
      "get": {
        "tags": [
          "COVID-19: JHUCSSE"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "description": "A country name, iso2, iso3, or country ID code",
            "type": "string"
          },
          {
            "name": "province",
            "in": "path",
            "required": true,
            "description": "Province name. All available names can be found in the /v3/covid-19/historical/{query} endpoint",
            "type": "string"
          },
          {
            "name": "lastdays",
            "in": "query",
            "default": 30,
            "description": "Number of days to return. Use 'all' for the full data set (e.g. 15, all, 24)",
            "type": "string"
          }
        ],
        "summary": "Get COVID-19 time series data for a specific province in a country",
        "responses": {
          "200": {
            "description": "Status Ok",
            "schema": {
              "$ref": "#/definitions/covidHistoricalProvince"
            }
          }
        }
      }
    },
    "/v3/covid-19/historical/{country}/{provinces}": {
      "get": {
        "tags": [
          "COVID-19: JHUCSSE"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "description": "A country name, iso2, iso3, or country ID code",
            "type": "string"
          },
          {
            "name": "provinces",
            "in": "path",
            "required": true,
            "description": "Provinces spelled correctly separated by ',' or '|' delimiters, never both in the same query",
            "type": "string"
          },
          {
            "name": "lastdays",
            "in": "query",
            "default": 30,
            "description": "Number of days to return. Use 'all' for the full data set (e.g. 15, all, 24)",
            "type": "string"
          }
        ],
        "summary": "Get COVID-19 time series data for a set of provinces in a country",
        "responses": {
          "200": {
            "description": "Status Ok",
            "schema": {
              "$ref": "#/definitions/covidHistoricalProvinces"
            }
          }
        }
      }
    },
    "/v3/covid-19/historical/usacounties": {
      "get": {
        "tags": [
          "COVID-19: JHUCSSE"
        ],
        "summary": "Get all possible US States to query the /historical/usacounties/{state} endpoint with",
        "description": "Returns a list of US States and provinces",
        "responses": {
          "200": {
            "description": "Status OK",
            "schema": {
              "$ref": "#/definitions/covidHistoricalUSCounties"
            }
          }
        }
      }
    },
    "/v3/covid-19/historical/usacounties/{state}": {
      "get": {
        "tags": [
          "COVID-19: JHUCSSE"
        ],
        "parameters": [
          {
            "name": "state",
            "in": "path",
            "required": true,
            "description": "US state name, validated in the array returned from the /v3/covid-19/historical/usacounties endpoint",
            "type": "string"
          },
          {
            "name": "lastdays",
            "in": "query",
            "default": 30,
            "description": "Number of days to return. Use 'all' for the full data set (e.g. 15, all, 24)",
            "type": "string"
          }
        ],
        "summary": "Get COVID-19 time series data for all counties in a specified US state",
        "responses": {
          "200": {
            "description": "Status Ok",
            "schema": {
              "$ref": "#/definitions/covidHistoricalUSCounty"
            }
          }
        }
      }
    },
    "/v3/covid-19/nyt/states": {
      "get": {
        "tags": [
          "COVID-19: NYT"
        ],
        "parameters": [
          {
            "name": "lastdays",
            "in": "query",
            "default": 30,
            "description": "Number of days to return. Use 'all' for the full data set (e.g. 15, all, 24)",
            "type": "string"
          }
        ],
        "summary": "Get COVID-19 time series data for all states, with an entry for each day since the pandemic began",
        "responses": {
          "200": {
            "description": "Status Ok",
            "schema": {
              "$ref": "#/definitions/covidNYTState"
            }
          }
        }
      }
    },
    "/v3/covid-19/nyt/states/{state}": {
      "get": {
        "tags": [
          "COVID-19: NYT"
        ],
        "parameters": [
          {
            "name": "state",
            "in": "path",
            "required": true,
            "description": "State name(s), separated by commas (e.g. 'Illinois, California')",
            "type": "string"
          },
          {
            "name": "lastdays",
            "in": "query",
            "default": 30,
            "description": "Number of days to return. Use 'all' for the full data set (e.g. 15, all, 24)",
            "type": "string"
          }
        ],
        "summary": "Get COVID-19 time series data for a state or set of states, with an entry for each day since the pandemic began",
        "responses": {
          "200": {
            "description": "Status Ok",
            "schema": {
              "$ref": "#/definitions/covidNYTState"
            }
          }
        }
      }
    },
    "/v3/covid-19/nyt/counties": {
      "get": {
        "tags": [
          "COVID-19: NYT"
        ],
        "parameters": [
          {
            "name": "lastdays",
            "in": "query",
            "default": 30,
            "description": "Number of days to return. Use 'all' for the full data set (e.g. 15, all, 24)",
            "type": "string"
          }
        ],
        "summary": "Get COVID-19 time series data for all available US counties, with an entry for each day since the pandemic began",
        "responses": {
          "200": {
            "description": "Status Ok",
            "schema": {
              "$ref": "#/definitions/covidNYTCounty"
            }
          }
        }
      }
    },
    "/v3/covid-19/nyt/counties/{county}": {
      "get": {
        "tags": [
          "COVID-19: NYT"
        ],
        "parameters": [
          {
            "name": "county",
            "in": "path",
            "required": true,
            "description": "County name(s), separated by commas (e.g. 'Alameda, Humboldt')",
            "type": "string"
          },
          {
            "name": "lastdays",
            "in": "query",
            "default": 30,
            "description": "Number of days to return. Use 'all' for the full data set (e.g. 15, all, 24)",
            "type": "string"
          }
        ],
        "summary": "Get COVID-19 time series data for a county or set of counties, with an entry for each day since the pandemic began",
        "responses": {
          "200": {
            "description": "Status Ok",
            "schema": {
              "$ref": "#/definitions/covidNYTCounty"
            }
          }
        }
      }
    },
    "/v3/covid-19/nyt/usa": {
      "get": {
        "tags": [
          "COVID-19: NYT"
        ],
        "summary": "Get COVID-19 time series data for the entire USA, with an entry for each day since the pandemic began",
        "responses": {
          "200": {
            "description": "Status Ok",
            "schema": {
              "$ref": "#/definitions/covidNYTUSA"
            }
          }
        }
      }
    },
    "/v3/covid-19/apple/countries": {
      "get": {
        "tags": [
          "COVID-19: Apple"
        ],
        "summary": "Get a list of supported countries for Apple mobility data",
        "description": "Returns a list of supported country names",
        "responses": {
          "200": {
            "description": "Status Ok",
            "schema": {
              "$ref": "#/definitions/covidAppleCountries"
            }
          }
        }
      }
    },
    "/v3/covid-19/apple/countries/{country}": {
      "get": {
        "tags": [
          "COVID-19: Apple"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "description": "A valid country name from the /v3/covid-19/apple/countries endpoint",
            "type": "string"
          }
        ],
        "summary": "Get a list of supported subregions for specific country in the Apple mobility data set",
        "description": "Returns a list of supported subregions in a country where data is available",
        "responses": {
          "200": {
            "description": "Status Ok",
            "schema": {
              "$ref": "#/definitions/covidAppleSubregions"
            }
          }
        }
      }
    },
    "/v3/covid-19/apple/countries/{country}/{subregions}": {
      "get": {
        "tags": [
          "COVID-19: Apple"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "description": "A valid country name from the /v3/covid-19/apple/countries endpoint",
            "type": "string"
          },
          {
            "name": "subregions",
            "in": "path",
            "required": true,
            "description": "Valid subregion(s) from the /v3/covid-19/apple/countries/{country} endpoint, separated by with commas",
            "type": "string"
          }
        ],
        "summary": "Get COVID-19 Apple mobility data for subregions of a country",
        "description": "Returns a list of mobility data entries for subregion(s) every day since January 13th. Each entry has driving, transit, and walking data with an associated number of percentage change since January 13th",
        "responses": {
          "200": {
            "description": "Status Ok",
            "schema": {
              "$ref": "#/definitions/covidAppleData"
            }
          }
        }
      }
    },
    "/v3/covid-19/gov/": {
      "get": {
        "tags": [
          "COVID-19: Government"
        ],
        "summary": "Get a list of supported countries for government specific data",
        "description": "Returns a list of supported country names",
        "responses": {
          "200": {
            "description": "Status Ok",
            "schema": {
              "$ref": "#/definitions/covidGov"
            }
          }
        }
      }
    },
    "/v3/covid-19/gov/{country}": {
      "get": {
        "tags": [
          "COVID-19: Government"
        ],
        "parameters": [
          {
            "name": "country",
            "in": "path",
            "required": true,
            "description": "A valid country name from the /v3/covid-19/gov endpoint",
            "type": "string"
          },
          {
            "name": "allowNull",
            "in": "query",
            "enum": [
              "true",
              "false",
              "1",
              "0"
            ],
            "description": "By default, if a value is missing, it is returned as 0. This allows nulls to be returned",
            "type": "string"
          }
        ],
        "summary": "Get COVID-19 government reported data for a specific country",
        "responses": {
          "200": {
            "description": "Status Ok"
          }
        }
      }
    },
    "/v3/covid-19/vaccine": {
      "get": {
        "tags": [
          "COVID-19: Vaccine"
        ],
        "summary": "Get vaccine trial data from RAPS (Regulatory Affairs Professional Society). Specifically published by Jeff Craven at https://www.raps.org/news-and-articles/news-articles/2020/3/covid-19-vaccine-tracker",
        "responses": {
          "200": {
            "description": "Status Ok",
            "schema": {
              "$ref": "#/definitions/vaccines"
            }
          }
        }
      }
    },
    "/v3/covid-19/therapeutics": {
      "get": {
        "tags": [
          "COVID-19: Therapeutics"
        ],
        "summary": "Get therapeutics trial data from RAPS (Regulatory Affairs Professional Society). Specifically published by Jeff Craven at https://www.raps.org/news-and-articles/news-articles/2020/3/covid-19-therapeutics-tracker",
        "responses": {
          "200": {
            "description": "Status Ok",
            "schema": {
              "$ref": "#/definitions/therapeutics"
            }
          }
        }
      }
    },
    "/v3/influenza/cdc/ILINet": {
      "get": {
        "tags": [
          "Influenza: CDC"
        ],
        "summary": "Get Influenza-like-illness data for the 2019 and 2020 outbreaks from the US Center for Disease Control",
        "responses": {
          "200": {
            "description": "Status Ok",
            "schema": {
              "$ref": "#/definitions/influenzaILINet"
            }
          }
        }
      }
    },
    "/v3/influenza/cdc/USCL": {
      "get": {
        "tags": [
          "Influenza: CDC"
        ],
        "summary": "Get Influenza report data for the 2019 and 2020 outbreaks from the US Center for Disease Control, reported by US clinical labs",
        "responses": {
          "200": {
            "description": "Status Ok",
            "schema": {
              "$ref": "#/definitions/influenzaUSCL"
            }
          }
        }
      }
    },
    "/v3/influenza/cdc/USPHL": {
      "get": {
        "tags": [
          "Influenza: CDC"
        ],
        "summary": "Get Influenza report data for the 2019 and 2020 outbreaks from the US Center for Disease Control, reported by US public health labs",
        "responses": {
          "200": {
            "description": "Status Ok",
            "schema": {
              "$ref": "#/definitions/influenzaUSPHL"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "covidAll": {
      "properties": {
        "updated": {
          "type": "number"
        },
        "cases": {
          "type": "number"
        },
        "todayCases": {
          "type": "number"
        },
        "deaths": {
          "type": "number"
        },
        "recovered": {
          "type": "number"
        },
        "todayRecovered": {
          "type": "number"
        },
        "active": {
          "type": "number"
        },
        "critical": {
          "type": "number"
        },
        "casesPerOneMillion": {
          "type": "number"
        },
        "deathsPerOneMillion": {
          "type": "number"
        },
        "tests": {
          "type": "number"
        },
        "testsPerOneMillion": {
          "type": "number"
        },
        "population": {
          "type": "number"
        },
        "oneCasePerPeople": {
          "type": "number"
        },
        "oneDeathPerPeople": {
          "type": "number"
        },
        "oneTestPerPeople": {
          "type": "number"
        },
        "activePerOneMillion": {
          "type": "number"
        },
        "recoveredPerOneMillion": {
          "type": "number"
        },
        "criticalPerOneMillion": {
          "type": "number"
        },
        "affectedCountries": {
          "type": "number"
        }
      }
    },
    "covidState": {
      "properties": {
        "state": {
          "type": "string"
        },
        "updated": {
          "type": "number"
        },
        "cases": {
          "type": "number"
        },
        "todayCases": {
          "type": "number"
        },
        "deaths": {
          "type": "number"
        },
        "todayDeaths": {
          "type": "number"
        },
        "active": {
          "type": "number"
        },
        "casesPerOneMillion": {
          "type": "number"
        },
        "deathsPerOneMillion": {
          "type": "number"
        },
        "tests": {
          "type": "number"
        },
        "testsPerOneMillion": {
          "type": "number"
        },
        "population": {
          "type": "number"
        }
      }
    },
    "covidStates": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/covidState"
      }
    },
    "covidContinent": {
      "properties": {
        "updated": {
          "type": "number"
        },
        "cases": {
          "type": "number"
        },
        "todayCases": {
          "type": "number"
        },
        "deaths": {
          "type": "number"
        },
        "todayDeaths": {
          "type": "number"
        },
        "recovered": {
          "type": "number"
        },
        "todayRecovered": {
          "type": "number"
        },
        "active": {
          "type": "number"
        },
        "critical": {
          "type": "number"
        },
        "casesPerOneMillion": {
          "type": "number"
        },
        "deathsPerOneMillion": {
          "type": "number"
        },
        "tests": {
          "type": "number"
        },
        "testsPerOneMillion": {
          "type": "number"
        },
        "population": {
          "type": "number"
        },
        "continent": {
          "type": "string"
        },
        "activePerOneMillion": {
          "type": "number"
        },
        "recoveredPerOneMillion": {
          "type": "number"
        },
        "criticalPerOneMillion": {
          "type": "number"
        },
        "continentInfo": {
          "type": "object",
          "properties": {
            "lat": {
              "type": "number"
            },
            "long": {
              "type": "number"
            }
          }
        },
        "countries": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "covidContinents": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/covidContinent"
      }
    },
    "covidCountry": {
      "properties": {
        "updated": {
          "type": "number"
        },
        "country": {
          "type": "string"
        },
        "countryInfo": {
          "type": "object",
          "properties": {
            "_id": {
              "type": "number",
              "uniqueItems": true
            },
            "iso2": {
              "type": "string",
              "uniqueItems": true
            },
            "iso3": {
              "type": "string",
              "uniqueItems": true
            },
            "lat": {
              "type": "number"
            },
            "long": {
              "type": "number"
            },
            "flag": {
              "type": "string"
            }
          }
        },
        "cases": {
          "type": "number"
        },
        "todayCases": {
          "type": "number"
        },
        "deaths": {
          "type": "number"
        },
        "todayDeaths": {
          "type": "number"
        },
        "recovered": {
          "type": "number"
        },
        "todayRecovered": {
          "type": "number"
        },
        "active": {
          "type": "number"
        },
        "critical": {
          "type": "number"
        },
        "casesPerOneMillion": {
          "type": "number"
        },
        "deathsPerOneMillion": {
          "type": "number"
        },
        "tests": {
          "type": "number"
        },
        "testsPerOneMillion": {
          "type": "number"
        },
        "population": {
          "type": "number"
        },
        "continent": {
          "type": "number"
        },
        "oneCasePerPeople": {
          "type": "number"
        },
        "oneDeathPerPeople": {
          "type": "number"
        },
        "oneTestPerPeople": {
          "type": "number"
        },
        "activePerOneMillion": {
          "type": "number"
        },
        "recoveredPerOneMillion": {
          "type": "number"
        },
        "criticalPerOneMillion": {
          "type": "number"
        }
      }
    },
    "covidCountries": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/covidCountry"
      }
    },
    "covidJHUCountries": {
      "properties": {
        "country": {
          "type": "string"
        },
        "county": {
          "type": "string"
        },
        "updatedAt": {
          "type": "string"
        },
        "stats": {
          "type": "object",
          "properties": {
            "confirmed": {
              "type": "number"
            },
            "deaths": {
              "type": "number"
            },
            "recovered": {
              "type": "number"
            }
          }
        },
        "coordinates": {
          "type": "object",
          "properties": {
            "latitude": {
              "type": "string"
            },
            "longitude": {
              "type": "string"
            }
          }
        },
        "province": {
          "type": "string"
        }
      }
    },
    "covidJHUCounty": {
      "properties": {
        "country": {
          "type": "string"
        },
        "province": {
          "type": "string"
        },
        "county": {
          "type": "string"
        },
        "updatedAt": {
          "type": "string"
        },
        "stats": {
          "type": "object",
          "properties": {
            "confirmed": {
              "type": "number"
            },
            "deaths": {
              "type": "number"
            },
            "recovered": {
              "type": "number"
            }
          }
        },
        "coordinates": {
          "type": "object",
          "properties": {
            "latitude": {
              "type": "string"
            },
            "longitude": {
              "type": "string"
            }
          }
        }
      }
    },
    "covidJHUCounties": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/covidJHUCounty"
      }
    },
    "covidHistorical": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "country": {
            "type": "string"
          },
          "province": {
            "type": "string"
          },
          "timeline": {
            "type": "object",
            "description": "The amount of key-value pairs in 'cases', 'deaths' and 'recovered' is dependent on the 'lastdays' query",
            "properties": {
              "cases": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "number"
                  }
                }
              },
              "deaths": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "number"
                  }
                }
              },
              "recovered": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      }
    },
    "covidHistoricalAll": {
      "description": "The amount of key-value pairs in 'cases', 'deaths' and 'recovered' is dependent on the 'lastdays' query",
      "properties": {
        "cases": {
          "type": "object",
          "properties": {
            "date": {
              "type": "number"
            }
          }
        },
        "deaths": {
          "type": "object",
          "properties": {
            "date": {
              "type": "number"
            }
          }
        },
        "recovered": {
          "type": "object",
          "properties": {
            "date": {
              "type": "number"
            }
          }
        }
      }
    },
    "covidHistoricalCountry": {
      "properties": {
        "country": {
          "type": "string"
        },
        "province": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "timeline": {
          "type": "object",
          "description": "The amount of key-value pairs in 'cases', 'deaths' and 'recovered' is dependent on the 'lastdays' query",
          "properties": {
            "cases": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "number"
                }
              }
            },
            "deaths": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "number"
                }
              }
            },
            "recovered": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "number"
                }
              }
            }
          }
        }
      }
    },
    "covidHistoricalCountries": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/covidHistoricalCountry"
      }
    },
    "covidHistoricalUSCounties": {
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "covidHistoricalUSCounty": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "province": {
            "type": "string"
          },
          "county": {
            "type": "string"
          },
          "timeline": {
            "type": "object",
            "description": "The amount of key-value pairs in 'cases', 'deaths' and 'recovered' is dependent on the 'lastdays' query",
            "properties": {
              "cases": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "number"
                  }
                }
              },
              "deaths": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "number"
                  }
                }
              },
              "recovered": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "number"
                  }
                }
              }
            }
          }
        }
      }
    },
    "covidHistoricalProvince": {
      "properties": {
        "country": {
          "type": "string"
        },
        "province": {
          "type": "string"
        },
        "timeline": {
          "type": "object",
          "description": "The amount of key-value pairs in 'cases', 'deaths' and 'recovered' is dependent on the 'lastdays' query",
          "properties": {
            "cases": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "number"
                }
              }
            },
            "deaths": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "number"
                }
              }
            },
            "recovered": {
              "type": "object",
              "properties": {
                "date": {
                  "type": "number"
                }
              }
            }
          }
        }
      }
    },
    "covidHistoricalProvinces": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/covidHistoricalProvince"
      }
    },
    "covidNYTState": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "state": {
            "type": "string"
          },
          "fips": {
            "type": "string"
          },
          "cases": {
            "type": "number"
          },
          "deaths": {
            "type": "number"
          }
        }
      }
    },
    "covidNYTCounty": {
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "county": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "fips": {
            "type": "string"
          },
          "cases": {
            "type": "number"
          },
          "deaths": {
            "type": "number"
          }
        }
      }
    },
    "covidNYTUSA": {
      "type": "array",
      "items": {
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "cases": {
            "type": "number"
          },
          "deaths": {
            "type": "number"
          }
        }
      }
    },
    "covidAppleCountries": {
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "covidAppleSubregions": {
      "properties": {
        "country": {
          "type": "string"
        },
        "subregions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "covidAppleData": {
      "properties": {
        "country": {
          "type": "string"
        },
        "subregion": {
          "type": "string"
        },
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "sub-region": {
                "type": "string"
              },
              "subregion_and_city": {
                "type": "string"
              },
              "geo_type": {
                "type": "string"
              },
              "date": {
                "type": "string",
                "format": "date"
              },
              "driving": {
                "type": "number"
              },
              "transit": {
                "type": "number"
              },
              "walking": {
                "type": "number"
              }
            }
          }
        }
      }
    },
    "covidGov": {
      "type": "array",
      "items": {
        "type": "string"
      }
    },
    "influenzaILINet": {
      "properties": {
        "updated": {
          "type": "number"
        },
        "source": {
          "type": "string"
        },
        "data": {
          "items": {
            "$ref": "#/definitions/ILINet"
          }
        }
      }
    },
    "ILINet": {
      "properties": {
        "week": {
          "type": "string"
        },
        "age 5-24": {
          "type": "number"
        },
        "age 25-49": {
          "type": "number"
        },
        "age 50-64": {
          "type": "number"
        },
        "age 64+": {
          "type": "number"
        },
        "totalILI": {
          "type": "number"
        },
        "totalPatients": {
          "type": "number"
        },
        "percentUnweightedILI": {
          "type": "number"
        },
        "percentWeightedILI": {
          "type": "number"
        }
      }
    },
    "influenzaUSCL": {
      "properties": {
        "updated": {
          "type": "number"
        },
        "source": {
          "type": "string"
        },
        "data": {
          "items": {
            "$ref": "#/definitions/USCL"
          }
        }
      }
    },
    "USCL": {
      "properties": {
        "week": {
          "type": "string"
        },
        "totalA": {
          "type": "number"
        },
        "totalB": {
          "type": "number"
        },
        "percentPositiveA": {
          "type": "number"
        },
        "percentPositiveB": {
          "type": "number"
        },
        "totalTests": {
          "type": "number"
        },
        "percentPositive": {
          "type": "number"
        }
      }
    },
    "vaccines": {
      "properties": {
        "source": {
          "type": "string"
        },
        "totalCandidates": {
          "type": "string"
        },
        "phases": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/phases"
          }
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/vaccine"
          }
        }
      }
    },
    "vaccine": {
      "properties": {
        "candidate": {
          "type": "string"
        },
        "mechanism": {
          "type": "string"
        },
        "sponsors": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "details": {
          "type": "string"
        },
        "trialPhase": {
          "type": "string"
        },
        "institutions": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "phases": {
      "properties": {
        "phase": {
          "type": "string"
        },
        "candidates": {
          "type": "string"
        }
      }
    },
    "therapeutics": {
      "properties": {
        "source": {
          "type": "string"
        },
        "totalCandidates": {
          "type": "string"
        },
        "phases": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/phases"
          }
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/therapeutic"
          }
        }
      }
    },
    "therapeutic": {
      "properties": {
        "medicationClass": {
          "type": "string"
        },
        "tradeName": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "details": {
          "type": "string"
        },
        "developerResearcher": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sponsors": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "trialPhase": {
          "type": "string"
        },
        "lastUpdate": {
          "type": "string"
        }
      }
    },
    "influenzaUSPHL": {
      "properties": {
        "updated": {
          "type": "number"
        },
        "source": {
          "type": "string"
        },
        "data": {
          "items": {
            "$ref": "#/definitions/USPHL"
          }
        }
      }
    },
    "USPHL": {
      "properties": {
        "week": {
          "type": "string"
        },
        "A(H3N2v)": {
          "type": "number"
        },
        "A(H1N1)": {
          "type": "number"
        },
        "A(H3)": {
          "type": "number"
        },
        "A(unable to sub-type)+": {
          "type": "number"
        },
        "A(Subtyping not performed)": {
          "type": "number"
        },
        "B": {
          "type": "number"
        },
        "BVIC": {
          "type": "number"
        },
        "totalTests": {
          "type": "number"
        }
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about this API",
    "url": "https://github.com/disease-sh/API"
  }
}
