{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "NOVELCovid/API",
    "description": "Covid19 Third Party API for Global Information",
    "license": {
      "name": "GNU V3",
      "url": "https://github.com/disease-sh/api/blob/master/LICENSE"
    }
  },
  "schemes": [
    "https",
    "http"
  ],
  "host": "corona.lmao.ninja",
  "basePath": "/",
  "tags": [
    {
      "name": "default"
    },
    {
      "name": "Countries",
      "description": "API Doc for Countries EndPoint"
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/all": {
      "get": {
        "summary": "Get Global Totals",
        "description": "THIS IS A DEPRECATED METHOD, PLEASE USE V2 METHODS!",
        "responses": {
          "200": {
            "description": "Status OK"
          }
        }
      }
    },
    "/states": {
      "get": {
        "summary": "Get US State Totals",
        "description": "THIS IS A DEPRECATED METHOD, PLEASE USE V2 METHODS!",
        "responses": {
          "200": {
            "description": "Status OK"
          }
        }
      }
    },
    "/jhucsse": {
      "get": {
        "summary": "Get All JHU CSSE",
        "description": "THIS IS A DEPRECATED METHOD, PLEASE USE V2 METHODS!",
        "responses": {
          "200": {
            "description": "Status OK"
          }
        }
      }
    },
    "/historical": {
      "get": {
        "summary": "Get Historical Data",
        "description": "THIS IS A DEPRECATED METHOD, PLEASE USE V2 METHODS!",
        "responses": {
          "200": {
            "description": "Status OK"
          }
        }
      }
    },
    "/countries": {
      "get": {
        "tags": [
          "Countries"
        ],
        "summary": "Get All Countries Totals",
        "description": "THIS IS A DEPRECATED METHOD, PLEASE USE V2 METHODS!",
        "responses": {
          "200": {
            "description": "Status OK",
            "schema": {
              "$ref": "#/definitions/countries"
            }
          }
        }
      }
    },
    "/countries/{query}": {
      "get": {
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "description": "THIS IS A DEPRECATED METHOD, PLEASE USE V2 METHODS!",
            "type": "string"
          }
        ],
        "summary": "Get a Specific Country's Totals",
        "description": "Get the same data from the /countries endpoint, but filter down to a specific country.",
        "responses": {
          "200": {
            "description": "Status OK",
            "schema": {
              "$ref": "#/definitions/country"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "countryInfo": {
      "required": [
        "country",
        "_id"
      ],
      "properties": {
        "_id": {
          "type": "integer",
          "uniqueItems": true
        },
        "iso2": {
          "type": "string",
          "uniqueItems": true
        },
        "iso3": {
          "type": "string",
          "uniqueItems": true
        },
        "country": {
          "type": "string"
        },
        "lat": {
          "type": "number"
        },
        "long": {
          "type": "number"
        },
        "flag": {
          "type": "string"
        }
      }
    },
    "country": {
      "properties": {
        "country": {
          "type": "string"
        },
        "countryInfo": {
          "$ref": "#/definitions/countryInfo"
        },
        "cases": {
          "type": "integer"
        },
        "todayCases": {
          "type": "integer"
        },
        "deaths": {
          "type": "integer"
        },
        "todayDeaths": {
          "type": "integer"
        },
        "recovered": {
          "type": "integer"
        },
        "active": {
          "type": "integer"
        },
        "critical": {
          "type": "integer"
        },
        "casesPerOneMillion": {
          "type": "number"
        },
        "deathsPerOneMillion": {
          "type": "number"
        },
        "updated": {
          "type": "integer"
        }
      }
    },
    "countries": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/country"
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about this API",
    "url": "https://github.com/disease-sh/api"
  }
}
