<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="theme-color" content="#303136" />
	<meta name="csrf-token" content="<%= csrfToken %>">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- Primary Meta Tags -->
	<title>disease.sh</title>
	<meta name="title" content="disease.sh">
	<meta name="description" content="An open API for disease-related statistics. No signup required.
	Over 20,000,000,000+ Requests & 50 TB of Data Served to Date!">
	<meta name="keywords" content="COVID-19, Influenza, API, Open source, Disease">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://disease.sh/">
	<meta property="og:title" content="disease.sh">
	<meta property="og:description" content="An open API for disease-related statistics. No signup required.
	Over 20,000,000,000+ Requests & 50 TB of Data Served to Date!">
	<meta property="og:image" content="https://disease.sh/assets/img/rona.jpg">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://disease.sh/">
	<meta property="twitter:title" content="disease.sh">
	<meta property="twitter:description" content="An open API for disease-related statistics. No signup required.
	Over 20,000,000,000+ Requests & 50 TB of Data Served to Date!">
	<meta property="twitter:image" content="https://disease.sh/assets/img/rona.jpg" />

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand" />
	<link rel="icon" href="./assets/img/icon.jpg" type="image" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="./assets/css/styles.css">
	<script src='https://www.google.com/recaptcha/api.js'></script>

</head>

<body>
	<header>
		<div>
			<a class="btn--docs" href="/docs" target="_blank">Docs</a>
			<a class="btn--git" href="https://github.com/disease-sh/api" target="_blank">GitHub</a>
			<a class="btn--discord" href="https://discord.gg/uypdG2h" target="_blank">Discord</a>
			<a class="btn--donate" href="https://www.buymeacoffee.com/covidapi/shop" target="_blank">Donate</a>
			<a class="btn--twitter" href="https://twitter.com/DiseaseAPI" target="_blank">Twitter</a>
		</div>
	</header>

	<section class="hero">
		<div class="background-image" style="background-image: url(assets/img/rona.jpg);"></div>
		<h1>disease.sh - Open Disease Data</h1>
		<h3>20,000,000,000+ Requests Served to Date</h3>
		<div class="postman">
			<div>Featured on</div>
			<a style="opacity: 1;" href="https://covid-19-apis.postman.com" target="_blank">
				<img style="margin-left: 1vw; height: 6vh; vertical-align: middle;" src="/assets/img/postman.png"
					alt="Postman" />
			</a>
		</div>
		<p class="newsletterTitle" id="jointxt">Are you a developer?<br>Join our API Newsletter to stay updated!</p>
		<div class="mailing">
			<input type="email" placeholder="your-email@domain.com" id="email" name="email" />
			<button class="g-recaptcha" data-sitekey="6LeYb-wUAAAAABsFwfLf5wtN9uRN5EqFtpS3ploJ" data-badge="bottomleft"
				data-callback="addEmail">Sign up</button>
		</div>
	</section>

	<section class="covid19stats">
		<h3 class="title">COVID-19 Global Stats</h3>

		<div class="grid-container">
			<div class="grid-item">
				<div id="chartDiv"></div>
			</div>
		</div>
	</section>

	<section class="features">
		<h3 class="title">Features</h3>
		<p>Build anything from console widgets to mobile applications, with our free and easy to use API. We provide data on
			current global outbreaks, including COVID-19 and Influenza.
		</p>
		<hr>

		<ul class="grid">
			<li>
				<i class="fa fa-usd"></i>
				<h4>Free</h4>
				<p>Our services are free to use, and have a 100/100 page insight performance score.</p>
			</li>
			<li>
				<i class="fa fa-database"></i>
				<h4>Multi-Source</h4>
				<p>
					We source data from <a class="emphasis" href="https://github.com/CSSEGISandData/COVID-19"
						target="_blank">Johns Hopkins University</a>,
					the <a class="emphasis" href="https://github.com/nytimes/covid-19-data" target="_blank">New York
						Times</a>,
					<a class="emphasis" href="https://www.worldometers.info/coronavirus/" target="_blank">Worldometers</a>, and
					<a class="emphasis" href="https://github.com/ActiveConclusion/COVID19_mobility" target="_blank">Apple
						reports</a> to give you a comprehensive view of the data. Our government-specific sources
					can be found in our <a class="emphasis" href="https://github.com/disease-sh/api/blob/master/README.md"
						target="_blank">README</a>
				</p>
			</li>
			<li>
				<i class="fa fa-refresh"></i>
				<h4>Up to Date</h4>
				<p>We update our data as soon as our sources do.</p>
			</li>
			<li>
				<i class="fa fa-code"></i>
				<h4>JSON Formatted</h4>
				<p>Our responses are served in JSON format, making for easy and reliable integration to your service.
				</p>
			</li>
		</ul>
	</section>

	<section class="snippet">
		<h3 class="title">Example request and response</h3>
		<div class="code">
			https://disease.sh/v3/covid-19/all
		</div>
		<div class="code">
			<div class="json">
				{<br>
				&emsp;&emsp;updated: 1591782903866,<br>
				&emsp;&emsp;cases: 7342359,<br>
				&emsp;&emsp;todayCases: 31527,<br>
				&emsp;&emsp;deaths: 414124,<br>
				&emsp;&emsp;todayDeaths: 1152,<br>
				&emsp;&emsp;recovered: 3619774,<br>
				&emsp;&emsp;todayRecovered: 21016,<br>
				&emsp;&emsp;active: 3308461,<br>
				&emsp;&emsp;critical: 54015,<br>
				&emsp;&emsp;casesPerOneMillion: 942,<br>
				&emsp;&emsp;deathsPerOneMillion: 53.1,<br>
				&emsp;&emsp;tests: 102586329,<br>
				&emsp;&emsp;testsPerOneMillion: 13230.23,<br>
				&emsp;&emsp;population: 7753933875,<br>
				&emsp;&emsp;oneCasePerPeople: 0,<br>
				&emsp;&emsp;oneDeathPerPeople: 0,<br>
				&emsp;&emsp;oneTestPerPeople: 0,<br>
				&emsp;&emsp;activePerOneMillion: 426.68,<br>
				&emsp;&emsp;recoveredPerOneMillion: 466.83,<br>
				&emsp;&emsp;criticalPerOneMillion: 6.97,<br>
				&emsp;&emsp;affectedCountries: 215<br>}<br>
			</div>
		</div>
		<a href="/docs" target="_blank" class="btn">Check out our docs here</a>
	</section>

	<footer>
		<p>&#127881; Special thanks to &#127881; <br>
			<a href="https://github.com/EliteDaMyth" target="_blank">EliteDaMyth</a><br>
			<a href="https://ravy.pink/" target="_blank">Ravy</a><br>
			<a href="https://github.com/ebwinters" target="_blank">Ethan Winters</a><br>
			<a href="https://github.com/puf17640" target="_blank">Julian Pufler</a>
		</p>
		<p id="termsOfService"><a href="https://github.com/disease-sh/api/blob/master/TERMS.md" target="_blank">Terms Of
				Service</a></p>
		<ul>
			<li><a href="https://github.com/disease-sh/api" target="_blank"><i class="fa fa-github-square"></i></a></li>
			<li><a href=" https://twitter.com/DiseaseAPI" target="_blank"><i class="fa fa-twitter"></i></a></li>
		</ul>
	</footer>

	<div id="toast">
		<div id="desc">
			<i onclick="closeToast()" style="margin-right: 10px; cursor: pointer; color: white;" class="fa fa-times-circle"
				aria-hidden="true"></i>
			See how to use our V3 endpoints
			<a style="color: #2196F3; background-color: #585c5e; padding: 4px; border-radius: 5px;"
				href="https://disease.sh/docs">here</a>
		</div>
	</div>

	<script src="https://www.amcharts.com/lib/4/core.js"></script>
	<script src="https://www.amcharts.com/lib/4/charts.js"></script>
	<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

	<script type="text/javascript">
		// toast notification in bottom right corner
		function launchToast() {
			var toast = document.getElementById("toast")
			toast.className = "show";
			setTimeout(function () { toast.className = toast.className.replace("show", ""); }, 20000);
		}

		launchToast();

		function closeToast() {
			var toast = document.getElementById("toast");
			toast.className = "early-close";
		}

		// validate an email for mailing list
		function validateEmail(email) {
			var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			return re.test(String(email).toLowerCase());
		}

		// Read the CSRF token from the <meta> tag
		const token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

		async function addEmail(captchaToken) {
			grecaptcha.reset();
			const email = document.getElementById('email').value;
			if (validateEmail(email) && captchaToken.length > 0) {
				const params = {
					recaptcha: captchaToken
				};
				let init = {
					credentials: 'same-origin', // <-- includes cookies in the request
					headers: {
						'CSRF-Token': token, // <-- is the csrf token as a header
						'Content-Type': 'application/json'
					},
					body: JSON.stringify(params),
					method: 'POST'
				};
				const response = await fetch(`/private/mailgun?email=${email}`, init);
				const json = await response.json();
				if (json.message && json.message === "Mailing list member has been created") {
					document.getElementById('jointxt').style.color = "#85ea2d";
					document.getElementById('jointxt').innerText = "Thank you so much for joining!"
				}
				else {
					document.getElementById('jointxt').style.color = "#F66014";
					document.getElementById('jointxt').innerText = "Oops! Please try again!"
				}
			}
			else {
				document.getElementById('jointxt').style.color = "#F66014";
				document.getElementById('jointxt').innerText = "Seems like you didn't enter a valid address."
			}
		}

		const stringToDate = function (data, format) {
			const regex = format.toLocaleLowerCase()
				.replace(/\bd+\b/, '(?<day>\\d+)')
				.replace(/\bm+\b/, '(?<month>\\d+)')
				.replace(/\by+\b/, '(?<year>\\d+)');
			const parts = new RegExp(regex).exec(data) || {};
			const { year, month, day } = parts.groups || {};
			return parts.length === 4 ?
				new Date(year < 100 ? 2000 + Number(year) : year, month - 1, day) : undefined;
		}

		am4core.ready(function () {
			am4core.useTheme(am4themes_animated);
			const chart = am4core.create("chartDiv", am4charts.XYChart);
			chart.colors.step = 4;
			chart.legend = new am4charts.Legend();
			chart.cursor = new am4charts.XYCursor();

			const dateAxis = chart.xAxes.push(new am4charts.DateAxis());
			dateAxis.renderer.minGridDistance = 50;
			dateAxis.renderer.line.strokeOpacity = 0.5;
			dateAxis.renderer.line.strokeWidth = 2;

			const valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
			valueAxis.renderer.line.strokeOpacity = 0.5;
			valueAxis.renderer.line.strokeWidth = 2;

			chart.data = generateChartData(JSON.parse('<%- JSON.stringify(chartData) %>'));
			createAxisAndSeries("cases", "Cases", false, "circle");
			createAxisAndSeries("recovered", "Recovered", true, "circle");
			createAxisAndSeries("deaths", "Deaths", true, "circle");

			function createAxisAndSeries(field, name, opposite, bullet) {
				var series = chart.series.push(new am4charts.LineSeries());
				series.dataFields.valueY = field;
				series.dataFields.dateX = "date";
				series.strokeWidth = 5;
				series.yAxis = valueAxis;
				series.name = name;
				series.tooltipText = "{name}: [bold]{valueY}[/]";
				series.tensionX = 1;
				series.showOnInit = true;

				var interfaceColors = new am4core.InterfaceColorSet();

				switch (bullet) {
					case "triangle":
						var bullet = series.bullets.push(new am4charts.Bullet());
						bullet.width = 12;
						bullet.height = 12;
						bullet.horizontalCenter = "middle";
						bullet.verticalCenter = "middle";

						var triangle = bullet.createChild(am4core.Triangle);
						triangle.stroke = interfaceColors.getFor("background");
						triangle.strokeWidth = 2;
						triangle.direction = "top";
						triangle.width = 10;
						triangle.height = 10;
						break;
					case "rectangle":
						var bullet = series.bullets.push(new am4charts.Bullet());
						bullet.width = 10;
						bullet.height = 10;
						bullet.horizontalCenter = "middle";
						bullet.verticalCenter = "middle";

						var rectangle = bullet.createChild(am4core.Rectangle);
						rectangle.stroke = interfaceColors.getFor("background");
						rectangle.strokeWidth = 2;
						rectangle.width = 10;
						rectangle.height = 10;
						break;
					default:
						return;
						var bullet = series.bullets.push(new am4charts.CircleBullet());
						bullet.width = 5;
						bullet.height = 5;
						bullet.circle.stroke = interfaceColors.getFor("background");
						bullet.circle.strokeWidth = 5;
						break;
				}
			}

			function generateChartData(data) {
				var keys = Object.keys(data);
				var chartData = [];
				var dates = Object.keys(data[keys[0]]);
				for (var index = 0; index < dates.length; index++) {
					chartData.push({
						date: dates[index],
						cases: (data[keys[0]])[dates[index]],
						recovered: (data[keys[2]])[dates[index]],
						deaths: (data[keys[1]])[dates[index]]
					});
				}
				return chartData;
			}
		});
	</script>
</body>

</html>