/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: #555;
}

ul, nav{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;

	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
	padding: 18px 42px;
}

hr{
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 100px 100px;
}

.code {
	text-align: center;
	background-color: #F6F8FA;
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 16px;
	padding: 40px 0px;
	margin: 10px 0px 20px 0px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	word-wrap: break-word;
	border-radius: 10px;
	color: #555;
	width: 100%;
}

.json {
	width: fit-content; 
	margin: 0 auto;
	text-align: left;
}

@media (max-width: 1000px){

	section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

	section{
		padding: 80px 30px;
	}

}

section h3.title{
	color: #414a4f;
	text-transform: capitalize; 
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.slideleft:after{
	top: 0;
	z-index: -1;
	transform: translate3D(-101%,0,0);
  }
  
.slideleft:hover:after{
	transform: translate3D(0,0,0);
	transition: all .5s;
}


/*-------------
 	Header
-------------*/

header{
	position: sticky;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-items: center;
	color: #fff;
	height: 60px;
	background-color: #31373B;
}

header h2{
	font-family: 'Quicksand', sans-serif;
}

header nav{
	display: flex;
}

header nav li{
	margin: 0 15px;
	font-weight: 700;
}

header nav li .btn--donate {
	padding: 10px 25px;
	background-color: #F66014;
	color: #FFFFFF;
	border-radius: 10px;
}

header nav li .btn--twitter {
	padding: 10px 25px;
	background-color: #1DA1F2;
	color: #FFFFFF;
	border-radius: 10px;
}

header nav li .btn--discord {
	padding: 10px 25px;
	background-color: #7289DA;
	color: #FFFFFF;
	border-radius: 10px;
}

header nav li .btn--git {
	padding: 10px 25px;
	background-color: #000;
	color: #FFFFFF;
	border-radius: 10px;
}

header nav li .btn--docs {
	padding: 10px 25px;
	background-color: #85ea2d;
	color: #FFFFFF;
	border-radius: 10px;
}

@media (max-width: 1000px){
	header{
		padding: 20px 50px;
	}
}


@media (max-width: 700px){
	header{
		flex-direction: column;		
	}

	header h2{
		margin-bottom: 15px;
	}
}

@media only screen and (max-width: 600px) {
	header nav li{
		margin: 0 4px;
		font-weight: 700;
	}

	header nav li .btn--donate {
		padding: 8px 12px;
	}
	
	header nav li .btn--twitter {
		padding: 8px 12px;
	}
	
	header nav li .btn--discord {
		padding: 8px 12px;
	}
	
	header nav li .btn--git {
		padding: 8px 12px;
	}
	
	header nav li .btn--docs {
		padding: 8px 12px;
	}
}


/*----------------
 	Hero Section
----------------*/

.hero{
	position: relative;
	justify-content: center;
	min-height: 50vh;
	max-height: 70vh;
	color: #fff;
	text-align: center;
}

.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #2196F3;
	z-index: -1;
}

.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}

.hero h1{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

.hero h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
	font-style: italic;
}

.hero a.btn{
	padding: 20px 46px;
}

@media (max-width: 800px){

	.hero{
		min-height: 600px;
	}

	.hero h1{
		font-size: 48px;
	}

	.hero h3{
		font-size: 24px;
	}

	.hero a.btn{
		padding: 15px 40px;
	}

}

.postman {
	display: flex;
	align-items: center;
}

/*----------------------
 	Features Section
----------------------*/

.features{
	background-color: #f7f7f7;
}

.features .grid li{
	padding: 0 30px;
	flex-basis: 25%;
	text-align: center;
}

.features .grid li i{
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}

.features .grid li h4{
	color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.features .grid li p{
    margin: 0;
}

.features .emphasis {
	color: #2196F3;
	text-decoration: none;
}

@media (max-width: 1000px){

	.features .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.features .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.features .grid li{
		flex-basis: 100%;
	}

}



/*--------------------
 	Snippet Section
--------------------*/

.snippet{
	background-color: #fff;
}

/*--------------------
 	Bot Section
--------------------*/

.invite-bot{
	background-color: #7289DA;
}

.discord-img {
	width: 45%;
}

.discord-btn {
	color: #7289DA;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #fff;
	font-weight: 800;
	text-align: center;
	padding: 18px 42px;
}


/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 30px 0;
}

footer ul{
	display: flex;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		padding: 80px 15px;
	}

}


/* -- Demo ads -- */

@media (max-width: 1200px) {
	#bsaHolder{ display:none;}
}
