/*-------------
 	General
-------------*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font: normal 16px sans-serif;
	color: #555;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	opacity: 0.9;
}

a:hover {
	opacity: 1;
}

a.btn {
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
	padding: 18px 42px;
}

hr {
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 80px;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 100px;
}

.code {
	text-align: center;
	background-color: #F6F8FA;
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 16px;
	padding: 40px 0px;
	margin: 10px 0px 20px 0px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
	word-wrap: break-word;
	border-radius: 10px;
	color: #555;
	width: 100%;
}

.json {
	width: fit-content;
	margin: 0 auto;
	text-align: left;
}

@media (max-width: 1000px) {
	section {
		padding: 100px 50px;
	}
}

@media (max-width: 600px) {
	section {
		padding: 80px 30px;
	}
}

section h3.title {
	color: #414a4f;
	text-transform: capitalize;
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p {
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
}

ul.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.slideleft:after {
	top: 0;
	z-index: -1;
	transform: translate3D(-101%, 0, 0);
}

.slideleft:hover:after {
	transform: translate3D(0, 0, 0);
	transition: all .5s;
}


/*-------------
 	Header
-------------*/

header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-items: center;
	color: #fff;
	height: auto;
	background-color: #31373B;
}

header h2 {
	font-family: 'Quicksand', sans-serif;
}

header div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 1vh 0vw;
}

header div a {
	margin: 1vh 1vw;
}

header div .btn--donate {
	padding: 10px 25px;
	background-color: #F66014;
	color: #FFFFFF;
	border-radius: 10px;
}

header div .btn--twitter {
	padding: 10px 25px;
	background-color: #1DA1F2;
	color: #FFFFFF;
	border-radius: 10px;
}

header div .btn--discord {
	padding: 10px 25px;
	background-color: #7289DA;
	color: #FFFFFF;
	border-radius: 10px;
}

header div .btn--git {
	padding: 10px 25px;
	background-color: #000;
	color: #FFFFFF;
	border-radius: 10px;
}

header div .btn--docs {
	padding: 10px 25px;
	background-color: #85ea2d;
	color: #FFFFFF;
	border-radius: 10px;
}

header div .btn--facebook {
	padding: 10px 25px;
	background-color: #3b5998;
	color: #FFFFFF;
	border-radius: 10px;
}

@media (max-width: 700px) {
	header {
		flex-direction: column;
	}
	header h2 {
		margin-bottom: 15px;
	}
}

@media only screen and (max-width: 600px) {
	header nav li {
		margin: 0 4px;
		font-weight: 700;
	}
	header nav li .btn--donate {
		padding: 8px 12px;
	}
	header nav li .btn--twitter {
		padding: 8px 12px;
	}
	header nav li .btn--discord {
		padding: 8px 12px;
	}
	header nav li .btn--git {
		padding: 8px 12px;
	}
	header nav li .btn--docs {
		padding: 8px 12px;
	}
}


/*----------------
 	Hero Section
----------------*/

.hero {
	position: relative;
	justify-content: center;
	min-height: 50vh;
	max-height: 70vh;
	color: #fff;
	text-align: center;
}

.hero .background-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: #2196F3;
	z-index: -1;
}

.hero .background-image:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.75;
}

.hero h1 {
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

.hero h3 {
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
	font-style: italic;
}

.hero a.btn {
	padding: 20px 46px;
}

@media (max-width: 800px) {
	.hero {
		min-height: 600px;
	}
	.hero h1 {
		font-size: 48px;
	}
	.hero h3 {
		font-size: 24px;
	}
	.hero a.btn {
		padding: 15px 40px;
	}
}

.postman {
	display: flex;
	min-height: 55px;
	align-items: center;
	margin-bottom: 2vh;
	padding: 7.5px 20px;
	border-radius: 15px;
	background: #fff;
	color: #000;
}

.mailing {
	display: flex;
	flex-direction: row;
	height: auto;
}

.mailing input {
	background-color: white;
	border-style: none;
	padding: 1vh 2vw;
	text-align: left;
	font-size: 16px;
	border-radius: 10px 0px 0px 10px;
}

.mailing button {
	background-color: #2196F3;
	color: white;
	border-style: none;
	padding: 1vh 2vw;
	text-align: center;
	font-size: 14px;
	border-radius: 0px 10px 10px 0px;
}

.mailing button:hover {
	background-color: #31373B;
	color: #2196F3;
	cursor: pointer;
}

.newsletterTitle {
	font-weight: bold;
	font-size: 1.25rem;
	margin-top: .75rem;
	margin-bottom: .5rem;
}


/*----------------------
 	Stats Section
----------------------*/

.grid-container {
	width: 100%;
	max-width: 1280px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.grid-container>.grid-item {
	position: relative;
	height: 350px;
	flex: 1;
	margin: 0;
	padding: 0;
}

.grid-container>.grid-item>div {
	height: 100%;
}

@media(max-width:1000px) {
	.grid-container {
		flex-flow: column nowrap;
	}
}


/*----------------------
 	Features Section
----------------------*/

.features {
	background-color: #f7f7f7;
}

.features .grid li {
	padding: 0 30px;
	flex-basis: 25%;
	text-align: center;
	list-style: none;
}

.features .grid li i {
	font-size: 50px;
	color: #2196F3;
	margin-bottom: 25px;
}

.features .grid li h4 {
	color: #555;
	font-size: 20px;
	margin-bottom: 25px;
}

.features .grid li p {
	margin: 0;
}

.features .emphasis {
	color: #2196F3;
	text-decoration: none;
}

@media (max-width: 1000px) {
	.features .grid li {
		flex-basis: 70%;
		margin-bottom: 65px;
	}
	.features .grid li:last-child {
		margin-bottom: 0;
	}
}

@media (max-width: 600px) {
	.features .grid li {
		flex-basis: 100%;
	}
}


/*--------------------
 	Snippet Section
--------------------*/

.snippet {
	background-color: #fff;
}


/*-------------
 	Footer
-------------*/

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 30px 0;
}

footer ul {
	display: flex;
	font-size: 32px;
}

footer ul li {
	margin: 0 8px;
	list-style: none;
}

footer ul li:first-child {
	margin-left: 0;
}

footer ul li:last-child {
	margin-right: 0;
}

footer p {
	text-transform: uppercase;
	font-size: 17.5px;
	color: white;
	margin-bottom: 20px;
}

footer p a {
	color: #2196F3;
	font-weight: bold;
}

@media (max-width: 700px) {
	footer {
		padding: 50px 15px;
	}
}


/* -- Toast Notification -- */

#toast {
	visibility: hidden;
	max-width: 0px;
	height: 50px;
	margin: auto;
	background-color: #31373B;
	text-align: left;
	border-radius: 5px 0px 0px 5px;
	position: fixed;
	z-index: 1;
	right: 0;
	bottom: 14px;
	font-size: 16px;
	white-space: nowrap;
	display: inline-block;
}

#toast #desc {
	color: white;
	padding: 16px;
	overflow: hidden;
	white-space: nowrap;
}

#toast.show {
	visibility: visible;
	-webkit-animation: expand 0.5s 0.5s, stay 10s 1s, shrink 0.5s 11s;
	animation: expand 0.5s 0.5s, stay 10s 1s, shrink 0.5s 11s;
}

@-webkit-keyframes expand {
	from {
		min-width: 0px
	}
	to {
		min-width: 350px
	}
}

@keyframes expand {
	from {
		min-width: 0px
	}
	to {
		min-width: 350px
	}
}

@-webkit-keyframes stay {
	from {
		min-width: 350px
	}
	to {
		min-width: 350px
	}
}

@keyframes stay {
	from {
		min-width: 350px
	}
	to {
		min-width: 350px
	}
}

@-webkit-keyframes shrink {
	from {
		min-width: 350px;
	}
	to {
		min-width: 0px;
	}
}

@keyframes shrink {
	from {
		min-width: 350px;
	}
	to {
		min-width: 0px;
	}
}

#toast.early-close {
	visibility: visible;
	-webkit-animation: shrink-early 0.5s 0.5s;
	animation: shrink-early 0.5 0.5s;
}

@-webkit-keyframes shrink-early {
	from {
		min-width: 350px;
	}
	to {
		min-width: 0px;
	}
}

@keyframes shrink-early {
	from {
		min-width: 350px;
	}
	to {
		min-width: 0px;
	}
}

#termsOfService a {
	color: white !important;
}

@media (max-width: 1000px) {
	.covid19stats {
		display: none;
	}
}

g[aria-labelledby="id-66-title"]{
  display:none;
}

@media (prefers-color-scheme: dark) {
	.features {
		background-color: #121212;
	}
	section h3.title {
		color: #fff;
	}
	.covid19stats {
		background-color: #2a2a2a;
	}
	html {
		color: #D3D3D3;
	}
	.features .grid li h4 {
		color: #fff;
	}
	.snippet {
		background-color: #151515;
	}
	.code {
		background-color: #2a2a2a;
		color: #fff;
	}
	footer {
		background-color: #3f3f3f;
	}
}
