{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "Novel Covid19",
        "description": "Covid19 Third Party API for Global Information",
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        }
    },
    "schemes": [
        "https",
        "http"
    ],
    "host": "corona.lmao.ninja",
    "basePath": "/v2",
    "tags": [
        {
            "name": "default"
        },
        {
            "name": "Countries",
            "description": "API Doc for Countries EndPoint"
        }
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/jhucsse": {
            "get": {
                "summary": "Get All JHU CSSE",
                "description": "Get JHU CSSE Data. This includes confirmed cases, deaths, recovered, and coordinates.",
                "responses": {
                    "200": {}
                }
            }
        },
        "/historical": {
            "get": {
                "summary": "Get Historical Data",
                "description": "Get time series info from the JHU CSSE Data Repository. Every date since 1/22/20 has an entry tracking deaths, cases, and recoveries for each country.",
                "responses": {
                    "200": {}
                }
            }
        },
        "/historical/{query}/{province}": {
            "get": {
                "parameters": [
                    {
                        "name": "query",
                        "in": "path",
                        "required": true,
                        "description": "For this parameter you can use Country Name && Country Id && ISOs (ISO 2 | ISO 3) 3166 Country Standards",
                        "type": "string"
                    },
                    {
                        "name": "province",
                        "in": "path",
                        "required": false,
                        "description": "Province name",
                        "type": "string"
                    }
                ],
                "summary": "Get Historical Data by Country Name and Province (Not Required)",
                "description": "Get a country's time series using a country iso code, country ID, or of course, country name",
                "responses": {
                    "200": {}
                }
            }
        },
        "/historical/all": {
            "get": {
                "summary": "Get Historical Data",
                "description": "Return time series data globally",
                "responses": {
                    "200": {}
                }
            }
        }
    },
    "definitions": {
        "countryInfo": {
            "required": [
                "country",
                "_id"
            ],
            "properties": {
                "_id": {
                    "type": "integer",
                    "uniqueItems": true
                },
                "iso2": {
                    "type": "string",
                    "uniqueItems": true
                },
                "iso3": {
                    "type": "string",
                    "uniqueItems": true
                },
                "country": {
                    "type": "string"
                },
                "lat": {
                    "type": "number"
                },
                "long": {
                    "type": "number"
                },
                "flag": {
                    "type": "string"
                }
            }
        },
        "country": {
            "properties": {
                "country": {
                    "type": "string"
                },
                "countryInfo": {
                    "type": "object",
                    "$ref": "#/definitions/countryInfo"
                },
                "cases": {
                    "type": "integer"
                },
                "todayCases": {
                    "type": "integer"
                },
                "deaths": {
                    "type": "integer"
                },
                "todayDeaths": {
                    "type": "integer"
                },
                "recovered": {
                    "type": "integer"
                },
                "active": {
                    "type": "integer"
                },
                "critical": {
                    "type": "integer"
                },
                "casesPerOneMillion": {
                    "type": "number"
                },
                "deathsPerOneMillion": {
                    "type": "number"
                },
                "updated": {
                    "type": "integer"
                }
            }
        },
        "countries": {
            "type": "array",
            "$ref": "#/definitions/country"
        }
    },
    "externalDocs": {
        "description": "Find out more about this API",
        "url": "https://github.com/NovelCovid/API"
    }
}