{
  "swagger": "2.0",
  "info": {
    "version": "2.0.0",
    "title": "NOVELCovid/API",
    "description": "Covid19 Third Party API for Global Information",
    "license": {
      "name": "GNU V3",
      "url": "https://github.com/NovelCOVID/API/blob/master/LICENSE"
    }
  },
  "schemes": [
    "https",
    "http"
  ],
  "host": "corona.lmao.ninja",
  "basePath": "/",
  "tags": [
    {
      "name": "default"
    },
    {
      "name": "JHUCSSE",
      "description": "(Data from Johns Hopikins University)"
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/all": {
      "get": {
        "summary": "Get Global Totals",
        "description": "Get global stats: cases, deaths, recovered, time last updated, and active cases",
        "responses": {
          "200": {
            "description": "Status OK"
          }
        }
      }
    },
    "/states": {
      "get": {
        "summary": "Get US State Totals",
        "description": "Get stats on United States of America States with COVID-19, including cases, new cases, deaths, new deaths, and active cases",
        "responses": {
          "200": {
            "description": "Status OK"
          }
        }
      }
    },
    "/yesterday": {
      "get": {
        "summary": "Get Country Totals from Yesterday",
        "description": "Returns a JSON array with an element for each country that has stats available. This includes iso codes, lat/long, a link to the country flag, cases, new cases, deaths, new deaths, recovered, active cases, critical cases, and cases/deaths per one million people.",
        "responses": {
          "200": {
            "description": "Status OK",
            "schema": {
              "$ref": "#/definitions/countries"
            }
          }
        }
      }
    },
    "/countries": {
      "get": {
        "tags": [
          "Countries"
        ],
        "summary": "Get All Countries Totals",
        "description": "Returns a JSON array with an element for each country that has stats available. This includes iso codes, lat/long, a link to the country flag, cases, new cases, deaths, new deaths, recovered, active cases, critical cases, and cases/deaths per one million people.",
        "responses": {
          "200": {
            "description": "Status OK",
            "schema": {
              "$ref": "#/definitions/countries"
            }
          }
        }
      }
    },
    "/countries/{query}": {
      "get": {
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "description": "For this parameter you can use Country Name && Country Id && ISOs (ISO 2 | ISO 3) 3166 Country Standards",
            "type": "string"
          }
        ],
        "summary": "Get a Specific Country's Totals",
        "description": "Get the same data from the /countries endpoint, but filter down to a specific country.",
        "responses": {
          "200": {
            "description": "Status OK",
            "schema": {
              "$ref": "#/definitions/country"
            }
          }
        }
      }
    },
    "/countries/{country,country,...}": {
      "get": {
        "tags": [
          "Countries"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "description": "For this parameter you can use multiple Country Names && Country Ids && ISOs (ISO 2 | ISO 3) 3166 Country Standards seperated by commas",
            "type": "string"
          }
        ],
        "summary": "Get a Specific Country's Totals",
        "description": "Get the same data from the /countries endpoint, but filter down to multiple specific countries.",
        "responses": {
          "200": {
            "description": "Status Ok"
          }
        }
      }
    },
    "/v2/jhucsse": {
      "get": {
        "tags": [
          "JHUCSSE"
        ],
        "summary": "Get All JHU CSSE",
        "description": "Get JHU CSSE Data. This includes confirmed cases, deaths, recovered, and coordinates.",
        "responses": {
          "200": {
            "description": "Status Ok"
          }
        }
      }
    },
    "/v2/historical": {
      "get": {
        "tags": [
          "JHUCSSE"
        ],
        "summary": "Get Historical Data",
        "description": "Get time series info from the JHU CSSE Data Repository. Every date since 1/22/20 has an entry tracking deaths, cases, and recoveries for each country. Updated each day at 23:59 UTC.",
        "responses": {
          "200": {
            "description": "Status Ok",
            "schema": {
              "$ref": "#/definitions/countryHistorical"
            }
          }
        }
      }
    },
    "/v2/historical/{query}": {
      "get": {
        "tags": [
          "JHUCSSE"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "description": "For this parameter you can use Country Name && Country Id && ISOs (ISO 2 | ISO 3) 3166 Country Standards",
            "type": "string"
          }
        ],
        "summary": "Get Historical Data by Country Name",
        "description": "Get a country's time series using a country iso code, country ID, or of course, country name",
        "responses": {
          "200": {
            "description": "Status Ok",
            "schema": {
              "$ref": "#/definitions/countriesHistorical"
            }
          }
        }
      }
    },
     "/v2/historical/{country,country,...}": {
      "get": {
        "tags": [
          "JHUCSSE"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "description": "For this parameter you can use multiple Country Names && Country Ids && ISOs (ISO 2 | ISO 3) 3166 Country Standards seperated by commas",
            "type": ""
          }
        ],
        "summary": "Get Historical Data by multiple Country Names",
        "description": "Get multiple countrys' time series using multiple country iso codes, country IDs, or of course, country names",
        "responses": {
          "200": {
            "description": "Status Ok"
          }
        }
      }
    },
    "/v2/historical/{query}/{province}": {
      "get": {
        "tags": [
          "JHUCSSE"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "description": "For this parameter you can use Country Name && Country Id && ISOs (ISO 2 | ISO 3) 3166 Country Standards",
            "type": "string"
          },
          {
            "name": "province",
            "in": "path",
            "required": true,
            "description": "Province name",
            "type": "string"
          }
        ],
        "summary": "Get Historical Data by Province Name",
        "description": "Get a province within a country's time series. Example is /v2/historical/chn/tibet. CHN is China's iso3 code",
        "responses": {
          "200": {
            "description": "Status Ok"
          }
        }
      }
    },
    "/v2/historical/{query}/{province,province,...}": {
      "get": {
        "tags": [
          "JHUCSSE"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "description": "For this parameter you can use multiple Country Names && Country Ids && ISOs (ISO 2 | ISO 3) 3166 Country Standards seperated by commas",
            "type": ""
          }
        ],
        "summary": "Get Historical Data by multiple Province Names",
        "description": "Get multiple pronvinces' time series using multiple Country Names && Country Ids && ISOs (ISO 2 | ISO 3) 3166 Country Standards",
        "responses": {
          "200": {
            "description": "Status Ok"
          }
        }
      }
    },
    "/v2/historical/all": {
      "get": {
        "tags": [
          "JHUCSSE"
        ],
        "summary": "Get Historical Data",
        "description": "Return time series data globally",
        "responses": {
          "200": {
            "description": "Status Ok"
          }
        }
      }
    }
  },
  "definitions": {
    "countryHistorical": {
      "properties": {
        "country": {
          "type": "string"
        },
        "province": {
          "type": "string"
        }
      }
    },
    "countriesHistorical": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/countryHistorical"
      }
    },
    "countryInfo": {
      "required": [
        "country",
        "_id"
      ],
      "properties": {
        "_id": {
          "type": "integer",
          "uniqueItems": true
        },
        "iso2": {
          "type": "string",
          "uniqueItems": true
        },
        "iso3": {
          "type": "string",
          "uniqueItems": true
        },
        "country": {
          "type": "string"
        },
        "lat": {
          "type": "number"
        },
        "long": {
          "type": "number"
        },
        "flag": {
          "type": "string"
        }
      }
    },
    "country": {
      "properties": {
        "country": {
          "type": "string"
        },
        "countryInfo": {
          "$ref": "#/definitions/countryInfo"
        },
        "cases": {
          "type": "integer"
        },
        "todayCases": {
          "type": "integer"
        },
        "deaths": {
          "type": "integer"
        },
        "todayDeaths": {
          "type": "integer"
        },
        "recovered": {
          "type": "integer"
        },
        "active": {
          "type": "integer"
        },
        "critical": {
          "type": "integer"
        },
        "casesPerOneMillion": {
          "type": "number"
        },
        "deathsPerOneMillion": {
          "type": "number"
        },
        "updated": {
          "type": "integer"
        }
      }
    },
    "countries": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/country"
      }
    }
  },
  "externalDocs": {
    "description": "Find out more about this API",
    "url": "https://github.com/NovelCovid/API"
  }
}
