name: Eslint
on:
  push:
    branches: [master]
    paths-ignore:
      - '.github/**'
      - 'docker-publish.yml'
      - 'README.md'
      - 'SECURITY.md'
      - 'TERMS.md'
      - 'privacy.md'
      - 'CONTRIBUTING.md'
  pull_request:
    branches:
      - '*'
    paths-ignore:
      - '.github/**'
      - 'docker-publish.yml'
      - 'README.md'
      - 'SECURITY.md'
      - 'TERMS.md'
      - 'privacy.md'
      - 'CONTRIBUTING.md'
jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm ci
      - run: npm run lint
