name: Lint
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
 eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm install
      - run: npm run lint
